In [164]:
import json
import pandas as pd
data = pd.read_json('dev.json', lines=True)

## Description

In this notebook we are labeling the first 105 question of the dataset to use it after to predict the label of the whole data

In [165]:
data

,correct,options,question,rationale
0,A,"[A)32400, B)6000, C)600, D)60000, E)10]",Three birds are flying at a fast rate of 900 k...,To calculate the equivalent of miles in a kilo...
1,D,"[A)100 m, B)150 m, C)200 m, D)250 m, E)300 m]",A ship is leaving a port. It takes 240 seconds...,Let the length of the ship be x metres and its...
2,C,"[A)6, B)18, C)24, D)36, E)48]",A rectangular piece of cloth 2 feet wide was c...,"The question says, length of shorter piece is ..."
3,B,"[A)(1,1), B)(0,3), C)(2,0), D)(3,6), E)(6,3)]","In the xy-coordinate plane, which of the follo...",For a point to satisfy the given equation for ...
4,C,"[A)7, B)9, C)13, D)27, E)45]",A travel company wants to charter a plane to t...,"Additional passengers (i.e., an integer, let's..."
5,B,"[A)$895, B)$905, C)$910, D)$915, E)$945]","Kirk sells cars. On two sales, Kirk has receiv...",Let X be the third value.\n850 + 705 + X = 820...
6,E,"[A)$203, B)$202, C)$209, D)$205, E)$204]",A group of 5 friends were to contribute equall...,"At the non-discounted price, each friend would..."
7,B,"[A)5.5, B)6, C)7, D)8, E)8.25]","Let A, B and C denote the vertices of a triang...","First, note that 4AFD and 4AFE have the same a..."
8,D,"[A)300, B)420, C)912, D)1340, E)1500]",ABC company pays an average of $120 per vehicl...,This means it could go out sometimes and it co...
9,D,"[A)30 litres, B)27 litres, C)25 litres, D)22.5...",Solution A has 5% salt concentration and remai...,Before Evaporation:\nSalt : 5% of 50 litre = 2...
10,B,"[A)15, B)27, C)14, D)12, E)20]","If a number of apples, say x, is divisible by ...",The numbers are 3 and 9\n3=1*3\n9=3*3\nThe fac...
11,D,"[A)6, B)12, C)36, D)72, E)144]",In how many arrangements can you arrange 3 gre...,"BGBGBG or GBGBGB --> 2 ways,\nBoth 3 B's and 3..."
12,B,"[A)8, B)9, C)10, D)11, E)12]","In a mixture, the ratio of spirit and water is...",Let amount of spirit be 3x. and water=2x.\n3x-...
13,B,"[A)6 hours, B)14.85 hours, C)12.1 hours, D)13....",A car traveled 40 mph from Belnap to Lincoln a...,The whole trip was 660 miles. which means one ...
14,B,"[A)12 million, B)10 million, C)14 million, D)1...","In a certain conservative mutual fund, 60 perc...",Let x be the total money or value of the mutua...
15,A,"[A)$68.00, B)$69.00, C)$70.00, D)$71.00, E)$72...",A certain state imposes a 4% tax on the nightl...,Total charge for a room for one night was $72....
16,B,"[A)30, B)32, C)42, D)45, E)36]",Alex has enough money to buy 30 bricks. If the...,Test answer choice B) first as that is the mid...
17,E,"[A)2,200, B)2,640, C)6,160, D)8,800, E)10,800]","In a poll of 45,000 dentists, only 30 percent ...",Find those who responded to the poll -\n45000 ...
18,B,"[A)50.05%, B)50.25%, C)50.5%, D)51%, E)52.5%]","In recent Malta elections, in a particular con...",Difference of 500 means A got 250 votes above ...
19,B,"[A)5%, B)4.5%, C)4%, D)2%, E)No gain]",Glenn gains 10% from selling her scarf at $44....,Glenn bought her scarf for 44/1.1 = $40\nHer m...
20,A,"[A)180, B)190, C)140, D)150, E)None of these]",A trader bought some books for Rs 8 each. The ...,"15% of Rs 8 = Rs 1.2 i.e, No. of books = 216/1..."
21,B,"[A)$200, B)$400, C)$300, D)$500, E)$800]",Elliot has $1500 to buy a new laptop. His fath...,All the money elliot had\n1500+600 = $2100\nSp...
22,E,"[A)500 candy bars, B)450 candy bars, C)510 can...",Bill's shop sells candy bars by the full case....,(80/100) * X + 96 = X\n.80*X +96= X\n96 = .20 ...
23,B,"[A)2 times per year, B)once every 15 years, C)...",Lucy has enough money to go to Canada every 6 ...,Lucy's speed = 1/6 trips per year\nLuke's spee...
24,C,"[A)25, B)32, C)36, D)40, E)60]",A group of stock analysts had a contest. Each ...,There were a total of 6*30 = 180 picks made by...
25,C,"[A)1hours, B)2hours, C)3hours, D)175 minutes, ...",Which is a longer period of time: 3 hours or 1...,convert 3 hours into minute\n60 minutes x3 hou...
26,A,"[A)-5 and 3, B)Â± 2, C)2 only, D)-3 and 5, E)3 ...",The root(s) of 15/(x2 - 4) â 2/(x - 2) = 1 is ...,15/(x2 - 4) â 2/(x - 2) = 1.\n15/(x2 - 22) â 2...
27,D,"[A)324, B)377, C)136, D)144, E)222]",A farming field can be ploughed by 6 tractors ...,If each of 66 tractors ploughed 120120 hectare...
28,E,"[A)20, B)40, C)60, D)80, E)100]","On sports day, if 24 children were made to sta...","Each each child forms 10/24 of a column. Then,..."
29,A,"[A)Rs.16002, B)Rs.16004, C)Rs.16015, D)Rs.1600...","The salaries of Kiran, Prakash and Sanjay are ...","p+s=56000\nlet us consider salaries of k,p,s s..."
...,...,...,...,...
224,A,"[A)$10,000, B)$15,000, C)$20,000, D)$25,000, E...",My company's funding allows for 5 employees. T...,"5 people x $65,000 = $325,000.\n$325,000 - $31..."
225,B,"[A)29.12, B)29.16, C)30.12, D)32.65, E)none of...","In 1978, a kg of paper was sold at Rs25/-. If ...",1.5%+6.5% = 8% (rate increase every year)\n25*...
226,B,"[A)Rs. 1943.40, B)Rs. 1934.40, C)Rs. 1394.40, ...",Find the cost of carpeting a room 13 m long an...,Area of the carpet = Area of the room = (13 * ...
227,E,"[A)9, B)10, C)16, D)7, E)18]",The ratio of a numerator to denominator is 2:3...,The ratio of a numerator to denominator is 2:3...
228,A,"[A)I only, B)II only, C)III only, D)I and II o...","At a casino, gamblers spin a number-wheel cont...","There are only 3 possibilities to choose from,..."
229,A,"[A)11, B)13, C)17, D)19, E)23]","One day in December 2015, three 2-digit prime ...","The numbers A, B, C belong a priori in the set..."
230,E,"[A)16%, B)25%, C)32%, D)49%, E)50 %]",John spent 72% of his budget on fruits ( inclu...,72% of his budget on fruits;\n36% of his budge...
231,E,"[A)1, B)3, C)4, D)5, E)7]","In a group of 18 children, there are twice as ...",as per the question !!\ntotal number of boys =...
232,A,"[A)2.16 hr, B)1.25 hr, C)1.5 hr, D)1.75 hr, E)...",A car is moving at the speed of 60 km per one ...,The speed of the car is 60 km/hr. The speed-di...
233,A,"[A)41.75%, B)40%, C)30%, D)33.25%, E)42%]",A farmer is trying to grow the largest pumpkin...,(100%+35%)*(100%+5%) = 1.35*1.05 = 1.4175 whic...
234,D,"[A)560, B)270, C)224, D)150, E)60]","Company X receives 16 applications for a job, ...","Out of the 16 applications, 6 are from present..."
235,C,"[A)6, B)15, C)12, D)10, E)8]",The measures of the interior angles taken in o...,Let n denote the number of sides of the polygo...
236,D,"[A)$2, B)$4, C)$5, D)$6, E)$8]",An oculist charges $30.00 for an eye examinati...,The difference between the charges is due to p...
237,E,"[A)2000, B)2200, C)2400, D)2600, E)2900]",A salon spa loyalty program magazine charges a...,Assuming they had x subscribers last year\nthe...
238,C,"[A)10/23, B)12/23, C)11/23, D)13/23, E)15/23]",A picks a number from the bag where the bag co...,"If Ram draws 1, then Sam can draw anything fro..."
239,C,"[A)3, B)15, C)7, D)8, E)9]","Ram has 12 pennies. He lost 5 of his pennies, ...","If Ram starts with 12 pennies and loses 5, he ..."
240,E,"[A)8., B)7.5., C)7., D)6.5., E)6.]",A green lizard can travel from the green cave ...,Time taken by green lizard to cover half dist=...
241,C,"[A)125, B)225, C)325, D)425, E)400]",If an electricity bill is paid before due date...,Let amount of electricity bill = N\nâ´ 4% of N ...
242,C,"[A)26, B)27, C)28, D)29, E)30]","How many hand shakes will be there, if 8 peopl...",No. of handshakes is n(n-1)/2\n=> 8(8-1)/2 == ...
243,A,"[A)27, B)17, C)37, D)42, E)47]",A ticket to Disney land costs $24. Maria has b...,24*15=360\n360-323=27\nShe needs $27 more to b...
244,E,"[A)66, B)88, C)100, D)120, E)132]",A salesman makes a 10% commission on the selli...,Commission per one switch: 6 * 0.10 = 0.60\nTo...
245,B,"[A)80%, B)60%, C)40%, D)100%, E)20%]","G and H are each equal to 20% of Z. If G, H, a...",if...\nG=.2Z\nH=.2Z\nG+H+F=Z\nthen...\nZ=.2z+....
246,D,"[A)5 hr, B)6 hr, C)7 hr, D)12 hr, E)20 hr]","When Mary paints a house, it takes her 4 hours...","Here, the rate equation becomes:\n(# of houses..."
247,A,"[A)10, B)12, C)14, D)18, E)20]","Consider a school which consists of boys, girl...",Let number of boys = n\nnumber of girls = 2n\n...
248,E,"[A)1.8 hours, B)6 hours, C)2.5 hours, D)4 hour...",I have an amazing bath tub having both hot and...,(1/4 + 1/6 - 1/12) ^ (-1)\n= (1/3)^(-1) = 3
249,A,"[A)7, B)5, C)4, D)2, E)8]",A man had 43 sheep. he wanted to divide them e...,Since he has 43 sheep and 6 children. The near...
250,D,"[A)$71.98, B)$251.93, C)$287.92, D)$359.90, E)...",If a jewelry store wants to sell a necklace fo...,Let the price of necklace this week = p\nDisco...
251,B,"[A)35, B)36, C)37, D)38, E)39]","At a company meeting, M men and W women meet i...","M=2W/3\nW+M=5W/3 <= 64\nW <= 38.4\nIf W=38, th..."
252,A,"[A)676000, B)676, C)100, D)6760, E)25]",A password needs to contain 2 letters and 3 nu...,Letters: 26x26= 676\nNumbers: 10x10x10 = 1000\...
253,A,"[A)$5, B)$10, C)$21, D)$20, E)None of these]","In a end-of-season sale, the prices at a store...",Actual Cost of the item is $50\n80% cut off on...

In [166]:
n, c = data.shape

In [167]:
data['spatial representations'] = [0 for i in range(n)]
data['counting and operation'] = [0 for i in range(n)]
data['logical problem solving'] = [0 for i in range(n)]

In [168]:
data['rationale'][61]

'Let the distance between the two stations be x km.\nThen, xâ50 - 10â60 = xâ30 - 50â60\nâ xâ50 - 1â6 = xâ30 - 5â6\nor xâ30 - xâ50 = 2â3 or x = 50 km\nAnswer B'

In [169]:
data.loc[61,'counting and operation'] = 1

In [170]:
data['rationale'][62]

'First number =(50*2)=100.\nsecond number=(50*100/100)=50.\nCorrect Option:A'

In [171]:
data.loc[62,'counting and operation'] = 1

In [172]:
data['rationale'][63]

'Removing Bert and Ernie the list will have 10 people\nQuestion now becomes choose 9 out of 10\n10! / 1!*9!\n= 10\nthere are 10 ways to do so.\nANS: D'

In [173]:
data.loc[63,'logical problem solving'] = 1

In [174]:
data['question'][64]

'There are N numbers of gold biscuits in the house, in which four people are lived. If the first men woke up and divided the biscuits into 5 equal piles and found one extra biscuit. He took one of those piles along with the extra biscuit and hid them. He then gathered the 4 remaining piles into a big pile, woke up the second person and went to sleep. Each of the other 3 persons did the same one by one i.e. divided the big pile into 5 equal piles and found one extra biscuit. Each hid one of the piles along with the extra biscuit and gathered the remaining 4 piles into a big pile. If N>1000, what could be the least value of N?'

In [175]:
data.loc[64,'logical problem solving'] = 1

In [176]:
data['rationale'][65]

"Avg age of 1st 7 people tot/7=21\ntot=147\nTotal after Vijay's arrival 147+29 = 176/8= 22\nAfter Marry's arrival 176+29= 205\nAfter Nikhils'  arrival the mean increased to 30\nLet Nikhil's age be x\n205+x/10=30\n205+x=300\nx=95\nANSWER:B"

In [177]:
data.loc[65,'logical problem solving'] = 1

In [178]:
data['question'][66]

'Marla starts running around a circular track at the same time Nick starts walking around the same circular track. Marla completes 32 laps around the track per hour and Nick completes 12 laps around the track per hour. How many minutes after Marla and Nick begin moving will Marla have completed 5 more laps around the track than Nick?'

In [179]:
data.loc[66,'counting and operation'] = 1

In [180]:
data['rationale'][67]

'Current ages of Yuvaraj = 4A and\nGanguly = 3A\nSo that 4A + 6 = 26\nA = 5\nCurrent age of Ganguly = 3(A)\n=> 3 x 5 =15 years'

In [181]:
data.loc[67,'counting and operation'] = 1

In [182]:
data['question'][68]

'A man says that he gained 10 percent as profit in selling a suitable cloth material. He says if he had purchased the same one 10 percent cheaper than it was actual and if he had sold it for 20% profit he gets 25paise less. find at what price he sold the suit?'

In [183]:
data.loc[68,'counting and operation'] = 1

In [184]:
data['question'][69]

"Tanya's grandfather was 8 times older to her 16 years ago. He would be 3 times of her age 8 years from now. What was ratio of ages of Tanya and her grandfather 8 years ago."

In [185]:
data.loc[69,'counting and operation'] = 1

In [186]:
data['question'][70]

'The least possible value of |89 - 9a|, where a is an integer, is'

In [187]:
data.loc[70,'logical problem solving'] = 1

In [188]:
data['rationale'][71]

"As its 6-3, totally 9 games were played.\nRafa served first so he served 5 games among which 2 were won by Roger.\nRoger served second so he served 4 games among which 3 were won by Rafa.\nSo, totally 5 games were won by the player who did not serve.\nAlso Rafa won 6 -> 3 from his serve and 3 from Roger's serve.\nRoger won 3 -> 1 from his serve and 2 from Rafa's serve.\nANSWER:A"

In [189]:
data.loc[71,'logical problem solving'] = 1

In [190]:
data['question'][72]

'Ashish is given Rs. 158 in one-rupee denominations. He has been asked to allocate them into a number of bags such that any amount required between Re 1 and Rs. 158 can be given by handing out a certain number of bags without opening them. What is the minimum number of bags required?'

In [191]:
data.loc[72,'logical problem solving'] = 1

In [192]:
data['question'][73]

'Last year Sahara, Tata, Singhania and Birla each has 250 industries. This year everyone has sold out 10 factories due to the recession of the economy and poor turnout. The average number of industries which of them now has'

In [193]:
data.loc[73,'counting and operation'] = 1

In [194]:
data['question'][74]

'Which of the following is the equation of a line that goes through the point (10,5) and has an x-intercept of 5.'

In [195]:
data.loc[74,'spatial representations'] = 1

In [196]:
data['question'][75]

'In a mixture of milk and water, there is only 26% water. After replacing the mixture with 7 liters of pure milk, the percentage of milk in the mixture become 76%. The quantity of the mixture is:'

In [197]:
data.loc[75,'counting and operation'] = 1

In [198]:
data['question'][76]

'The least perfect square number, exactly divisible by 21, 36 and 56 is?'

In [199]:
data.loc[76,'logical problem solving'] = 1

In [200]:
data['question'][77]

'Mr. X died when his age was 1/59th of year of birth. What was his date of birth?'

In [201]:
data.loc[77,'counting and operation'] = 1

In [202]:
data['rationale'][78]

'Santa had 50 gifts and there were 21 children, and each of them had to receive at least 2 gifts , so santa should have given 42 gifts in total, but instead he gave 4 gifts to some of them.\nIt means, he gave 8 more gifts in pairs of 2 i.e. he had 4 pairs of gifts. That means, 4 children got 4 gifts.\nVerification:\n17 children got only 2 gifts i.e. 17 * 2 = 34 gifts.\n4 children got 4 gifts each, so : 4 * 4 = 16 gifts\nTotal is 50.'

In [203]:
data.loc[78,'logical problem solving'] = 1

In [204]:
data['question'][79]

'The ratio of Aâs and Bâs salary is 9 : 4. If Aâs salary is increased by 15%, then his total salary becomes 5175. What is the salary of B?'

In [205]:
data.loc[79,'counting and operation'] = 1

In [206]:
data['question'][80]

'Of two numbers, 4 times the smaller one is less then 3 times the larger one by 5. If the sum of the numbers is larger than 6 times their difference by 6, find the two numbers.'

In [207]:
data.loc[80,'logical problem solving'] = 1

In [208]:
data['question'][81]

'Cost of 3 cricket balls = cost of 2 pairs of leg pads. Cost of 3 pairs of leg pads = cost of 2 pairs of gloves. Cost of 3 pairs of gloves = cost of 2 cricket bats. If a cricket bat costs Rs 54, what is the cost of a cricket ball?'

In [209]:
data.loc[81,'counting and operation'] = 1

In [210]:
data['question'][82]

'Peter piper picked a pack of pickled peppers according to the function Y=(1/X)*X^3-7. If X=3 how many pickled peppers did he pick?'

In [211]:
data.loc[82,'counting and operation'] = 1

In [212]:
data['question'][83]

'John invested $100 in each of the funds A and B. After one year, the value of the money in fund A was $10 higher than the value of the money in fund B. After another year, the value of the money in fund A was $25 higher than the value of the money in fund B. If the value of the money in each fund increased by a fixed interest compounded annually, what was the annual interest of fund A?'

In [213]:
data.loc[83,'logical problem solving'] = 1

In [214]:
data['question'][84]

'If P represents a single digit in the four digit number x=18P6, how many different values of P are there such that x is divisible by 8?'

In [215]:
data.loc[84,'logical problem solving'] = 1

In [216]:
data['question'][85]

'Vegetables contains 68% water and green vegetables contains 20% water. How much green vegetables can be obtained from 100 kg of Vegetables ?'

In [217]:
data.loc[85,'logical problem solving'] = 1

In [218]:
data['question'][86]

'M is a set of even numbers from 1 to 23 and odd numbers from 24 to 100. Find no. of zeroes in the sum of all values in the set.'

In [219]:
data.loc[86,'logical problem solving'] = 1

In [220]:
data['rationale'][87]

'Total number of donuts sold and given away in a week =K =(K/2 + K/2)=(sold + free)\ncost of each donut =$0.25\nnumber of free donuts in a week= 0.25*K/2=K/8\nin 10 weeks time 10*K/8 =5K/4\nAnswer :B'

In [221]:
data.loc[87,'counting and operation'] = 1

In [222]:
data['question'][88]

'The mean proportional between 45 and a certain number is three times the mean proportional between 5 and 22. The number is ?'

In [223]:
data.loc[88,'counting and operation'] = 1

In [224]:
data['question'][89]

'x contains 85% water and 15% oil; how many more liters of water than liters of oil are in 200 liters of solution x?'

In [225]:
data.loc[89,'counting and operation'] = 1

In [226]:
data['rationale'][90]

'Let the number of innings played in England be x.\nâ´ Total runs scored in England = 46x\nTotal runs scored for innings played in India\n= 55 Ã 4 = 220\n(âµ the number of innings played in India = 4)\nAlso, 46x+220/x+4 = 48\nâ 46x + 220 = 48 x + 192\nâ 2x = 28\nâ x = 14\nAnswer C'

In [227]:
data.loc[90,'logical problem solving'] = 1

In [228]:
data['question'][91]

'Mr. Bean chooses a number and he keeps on doubling the number followed by subtracting one from it, if he chooses 3 as initial number and he repeats the operation for 30 times then what is the final result?'

In [229]:
data.loc[91,'counting and operation'] = 1

In [230]:
data['rationale'][92]

'P=S.I.*100 /R*T\nSo, by putting values from the question we can get the answer\nP=4016.25*100/9*5=8925\nOption B'

In [231]:
data.loc[92,'logical problem solving'] = 1

In [232]:
data['rationale'][93]

'As the given coin is a fair coin, the last 4 tosses are independent of the first 2, so we would expect heads 2 out of the 4 tosses left. Thus making the total 4 heads out of the 6 tosses.\nAnswer:C'

In [233]:
data.loc[93,'logical problem solving'] = 1

In [234]:
data['rationale'][94]

'Let side of square be x.\nThen for rectangle length = 14 + x and breadth = x.\nIt is given\nArea of rectangle = 2 Ã (area of square)\nlength Ã breadth = 2(x Ã x)\n(x + 14) Ã x = 2 Ã x2\nx2 + 14x = 2x2\nx2 = 14x\nx = 14.\nPerimeter of square = 4 Ã x = 56\nAnswer: C'

In [235]:
data.loc[94,'spatial representations'] = 1

In [236]:
data['question'][95]

'In a shipment of 120 machine parts, 5 percent were defective. In a shipment of 80 machine parts, 10 percent were defective. For the two shipments combined, what percent of the machine parts were defective?'

In [237]:
data.loc[95,'counting and operation'] = 1

In [238]:
data['rationale'][96]

'12/(x+1) = 12/x -1\n=>x = -4 or 3\n=> x = 3 as price cannot be negative.\n=> price per liter at local store = 12/3 = 4\nAnswer B.'

In [239]:
data.loc[96,'counting and operation'] = 1

In [240]:
data['rationale'][97]

'W has x red and y blue. V has a red and b blue\nlength(x)=length(a) = length(x)*x + length(y)*y / x+y + 19 = length(a)*a+length(b)*b/a+b + 6\nshifting terms, we get the first term minus second term is 6+19=25\nD'

In [241]:
data.loc[97,'spatial representations'] = 1

In [242]:
data['question'][98]

"A circular gear with a diameter of 25 cm is mounted directly over another circular gear with a diameter of 100 cm. Both gears run on the same axle at their exact centers and each gear has a single notch at the 12 o'clock position. At the same moment, the gears start to rotate at the same rate in cm/s, with the larger gear moving clockwise and the smaller gear moving anticlockwise.\nHow far in centimeters will the notch on the larger gear have moved the second time the notches pass each other?"

In [243]:
data.loc[98,'spatial representations'] = 1

In [244]:
data['question'][99]

'A college has 10 basketball players. A 5-member team and a captain will be selected out of these 10 players. How many different selections can be made?'

In [245]:
data.loc[99,'logical problem solving'] = 1

In [246]:
data['question'][100]

'A canteen requires 62 kgs of wheat for 6 days. How many kgs of wheat will it require for 60 days?'

In [247]:
data.loc[100,'counting and operation'] = 1

In [248]:
data['rationale'][101]

'sp=4200\nprofit=33.33%=(100+33.33)=133.33\ncp=(100*4200)/133.33\n=3150.07 (cp for 2 t-shirt)\nso cp for 1t-shirt= 1575.04\nANSWER:A'

In [249]:
data.loc[101,'counting and operation'] = 1

In [250]:
data['rationale'][102]

'Let the ages of Promila and Jenilia 1 year ago be 4x and x years, respectively.\nThen, [(4x + 1) + 6] - [(x + 1) + 6] = 9 â 3x = 9 â x = 3.\nâ´ Required ratio = (4x + 1) : (x + 1) = 13:4.\nAnswer A'

In [251]:
data.loc[102,'counting and operation'] = 1

In [252]:
data['question'][103]

'Manoj left home for the bus stop 15 minutes earlier than the usual time. It takes 10 minutes to reach the stop. He reached the stop at 8.40 AM. What time does he usually leave home for the bus stop?'

In [253]:
data.loc[103,'counting and operation'] = 1

In [254]:
data['counting and operation'].sum()

22

In [255]:
data['logical problem solving'].sum()

17

In [256]:
data['spatial representations'].sum()

4

In [257]:
data['question'][16]

'Alex has enough money to buy 30 bricks. If the bricks each cost 20 cents less, Grace could buy 10 more bricks. How much money does Grace have to spend on bricks?'

In [258]:
data.loc[16,'logical problem solving'] = 1

In [259]:
data['question'][17]

'In a poll of 45,000 dentists, only 30 percent responded; of these, 20 percent claimed to prefer Toothpaste A. How many of the dentists who responded did not claim a preference for Toothpaste A?'

In [260]:
data.loc[17,'logical problem solving'] = 1

In [261]:
data['question'][18]

'In recent Malta elections, in a particular constituency, 100,000 votes were cast and each vote was cast for\neither Candidate A or Candidate B. If candidate A has won by 500 votes, what percent of the 100,000 votes\nwere cast for Candidate A?'

In [262]:
data.loc[18,'logical problem solving'] = 1

In [263]:
data['question'][19]

"Glenn gains 10% from selling her scarf at $44. Her mom tells her she'll buy it from her but only after a family discount of 5%. What is Glenn's gain percent if she sells the scarf to her mom?"

In [264]:
data.loc[19,'logical problem solving'] = 1

In [265]:
data['rationale'][20]

'15% of Rs 8 = Rs 1.2 i.e, No. of books = 216/1.2 = 180\nAnswer : A'

In [266]:
data.loc[20,'counting and operation'] = 1

In [267]:
data['question'][21]

'Elliot has $1500 to buy a new laptop. His father gave him another $600 for a better model. Elliot saw a new mobile and he decided to by it for 400$. Also, he bought a laptop for $1300\nHow much money had Elliot left with?'

In [268]:
data.loc[21,'counting and operation'] = 1

In [269]:
data['rationale'][22]

'(80/100) * X + 96 = X\n.80*X +96= X\n96 = .20 * X\nX = 480\nAnswer: E'

In [270]:
data.loc[22,'counting and operation'] = 1

In [271]:
data['rationale'][23]

"Lucy's speed = 1/6 trips per year\nLuke's speed = 1/9 trips per year\nLucy + Luke's speed= (1/6 + 1/9) = 5/18 trips per year\ncorrect option is B"

In [272]:
data.loc[23,'logical problem solving'] = 1

In [273]:
data['question'][24]

'A group of stock analysts had a contest. Each analyst picked 5 stocks out of a list of 30 stocks to purchase. If each of the stocks was picked exactly 6 times, how many analysts were in the contest?'

In [274]:
data.loc[24,'logical problem solving'] = 1

In [275]:
data['question'][25]

'Which is a longer period of time: 3 hours or 175 minutes?'

In [276]:
data.loc[25,'counting and operation'] = 1

In [277]:
data['rationale'][26]

'15/(x2 - 4) â 2/(x - 2) = 1.\n15/(x2 - 22) â 2/(x - 2) = 1.\n15/(x + 2)(x - 2) â 2/(x - 2) = 1.\n[15 â 2(x + 2)]/[(x + 2)(x - 2)] = 1.\n[15 â 2x - 4] /[(x + 2)(x - 2)] = 1.\n[11 - 2x]/[(x + 2)(x - 2)] = 1.\n11 â 2x = (x + 2)(x - 2).\n11 â 2x = x2 - 4.\nx2 - 4 = 11 â 2x.\nx2 + 2x â 4 â 11 = 0.\nx2 + 2x â 15 = 0.\nx + 5) (x - 3) = 0.\nx + 5 = 0 or, x â 3 = 0\nx = -5 or, x = 3.\nTherefore, x = -5 and 3.\nAnswer: A'

In [278]:
data.loc[26,'logical problem solving'] = 1

In [279]:
data['question'][27]

'A farming field can be ploughed by 6 tractors in 4 days. When 6 tractors work together, each of them ploughs 120 hectares a day. If two of the tractors were moved to another field, then the remaining 4 tractors could plough the same field in 5 days. How many hectares a day would one tractor plough then?'

In [280]:
data.loc[27,'logical problem solving'] = 1

In [281]:
data['rationale'][28]

'Each each child forms 10/24 of a column. Then, if there are 240 children, they could form 240*10/24=100 columns.\nAnswer is E'

In [282]:
data.loc[28,'counting and operation'] = 1

In [283]:
data['question'][29]

"The salaries of Kiran, Prakash and Sanjay are in the ratio of 2 : 3 : 4. The salary of Prakash and Sanjay together is Rs. 56000. The manager plans to increment the salary of Prakash from his current package and does so by increasing his salary so that it is 1 rupee more than that of Sanjay. Now, if Kiran wishes to demand a salary that will surpass Prakash's by 1 Rupee, how much he should demand ?"

In [284]:
data.loc[29,'logical problem solving'] = 1

In [285]:
data['question'][30]

'A wholesaler allows a discount of 20 % on the list price to the retailer. The retailer sells at 5% below the list price. If the customer pays Rs.19 for an article what profit is made by the retailer on it?'

In [286]:
data.loc[30,'logical problem solving'] = 1

In [287]:
data['question'][0]

'Three birds are flying at a fast rate of 900 kilometers per hour. What is their speed in miles per minute? [1km = 0.6 miles]'

In [288]:
data.loc[0,'counting and operation'] = 1

In [289]:
data['counting and operation'].sum()

28

In [290]:
data['logical problem solving'].sum()

27

In [291]:
data['spatial representations'].sum()

4

Here I load the job of Niema and Ada.

In [292]:
data2 = pd.read_csv('maths_questions.csv')

In [293]:
data2.head()

,correct,options,question,rationale,Spatial Representation,Counting and operation,Logical problem solving
0,A,"['A)32400', 'B)6000', 'C)600', 'D)60000', 'E)10']",Three birds are flying at a fast rate of 900 k...,To calculate the equivalent of miles in a kilo...,0,0,0
1,D,"['A)100 m', 'B)150 m', 'C)200 m', 'D)250 m', '...",A ship is leaving a port. It takes 240 seconds...,Let the length of the ship be x metres and its...,1,0,0
2,C,"['A)6', 'B)18', 'C)24', 'D)36', 'E)48']",A rectangular piece of cloth 2 feet wide was c...,"The question says, length of shorter piece is ...",1,0,0
3,B,"['A)(1,1)', 'B)(0,3)', 'C)(2,0)', 'D)(3,6)', '...","In the xy-coordinate plane, which of the follo...",For a point to satisfy the given equation for ...,1,0,0
4,C,"['A)7', 'B)9', 'C)13', 'D)27', 'E)45']",A travel company wants to charter a plane to t...,"Additional passengers (i.e., an integer, let's...",0,0,1

In [294]:
counting = pd.DataFrame({'1': data['counting and operation'].tolist(), '2':data2['Counting and operation'].tolist()})

In [295]:
counting.head()

   1  2
0  1  0
1  0  0
2  0  0
3  0  0
4  0  0

In [296]:
data['counting and operation'] = counting.max(axis=1)

In [297]:
logical = pd.DataFrame({'1': data['logical problem solving'].tolist(), '2':data2['Logical problem solving'].tolist()})
data['logical problem solving'] = logical.max(axis=1)

In [298]:
logical = pd.DataFrame({'1': data['spatial representations'].tolist(), '2':data2['Spatial Representation'].tolist()})
data['spatial representations'] = logical.max(axis=1)

In [299]:
data['question'][104]

'If a quarter kilogram costs Rs.60 then how much will cost for 150 grams?'

In [300]:
data.loc[104,'counting and operation'] = 1

In [301]:
data['question'][105]

'A shop is offering discounts on shirts costing $20 each. If someone buys 2 shirts, he will be offered a discount of 15% on the first shirt and another 10% discount on the reduced price for the second shirt. How much would one pay for two shirts at this shop?'

In [302]:
data.loc[105,'counting and operation'] = 1

In [303]:
data['counting and operation'].sum()

53

In [304]:
data['logical problem solving'].sum()

42

In [305]:
data['spatial representations'].sum()

9

We will need to normalize our data before we can use it for label prediction.

In [306]:
data.to_csv('math_questions_handlabeled.csv', index=False)

In [307]:
dt1 = pd.read_json('test.json', lines=True)

In [308]:
dt1.shape

(254, 4)

In [310]:
n1, c1 = dt1.shape

In [311]:
dt1.head()

,correct,options,question,rationale
0,A,"[A)5(â3 + 1), B)6(â3 + â2), C)7(â3 â 1), D)8(â...","A car is being driven, in a straight line and ...",Explanation :\nLet the height of the building ...
1,E,"[A)$61, B)$65, C)$67.40, D)$70, E)$78.20]",The original price of an item is discounted 22...,Let x be the original price of the item\nDisco...
2,A,"[A)36, B)15, C)17, D)5, E)7]",Find out which of the following values is the ...,9=3*3\n12=3*4\nThe number should definitely ha...
3,B,"[A)0.22, B)0.26, C)0.37, D)0.46, E)0.63]",If the probability that Stock A will increase ...,The probability that stock A does not increase...
4,B,"[A)270, B)300, C)280, D)320, E)315]",A trader sold an article at a profit of 20% fo...,Cost Price = Selling Price / (100+Profit%) Ã 1...

In [313]:
dt1['spatial representations'] = [0 for i in range(n1)]
dt1['counting and operation'] = [0 for i in range(n1)]
dt1['logical problem solving'] = [0 for i in range(n1)]

In [326]:
dt2 = pd.read_json('train.json', lines=True)

In [327]:
dt2.shape

(97467, 4)

In [328]:
n2, c2 = dt2.shape

In [329]:
dt2.head()

,correct,options,question,rationale
0,E,"[A)21, B)21.5, C)22, D)22.5, E)23]","Two friends plan to walk along a 43-km trail, ...","If Q complete x kilometers, then P completes 1..."
1,C,"[A)4 and 1, B)1 and 5, C)5 and 1, D)3 and 5, E...","In the coordinate plane, points (x, 1) and (5,...",Line k passes through the origin and has slope...
2,B,"[A)II, B)I and II, C)I and III, D)II and III, ...","For all numbers p and q, the operation @ is de...",p@q = p^2 - pq=p(p-q).... so p@q will be zero ...
3,A,"[A)$1600, B)$2000, C)$2150, D)$2500, E)$12000]",Carl is facing very difficult financial times ...,"Usually, you are given the annual rate of inte..."
4,E,"[A)18 seconds, B)27 seconds, C)26 seconds, D)1...",The speed at which a man can row a boat in sti...,Speed of the boat downstream = 25 +11\n= 36 km...

In [330]:
dt2['spatial representations'] = [0 for i in range(n2)]
dt2['counting and operation'] = [0 for i in range(n2)]
dt2['logical problem solving'] = [0 for i in range(n2)]

In [331]:
final = pd.concat([data, dt1, dt2])

In [332]:
final.shape

(97975, 7)

In [333]:
final.head()

,correct,options,question,rationale,spatial representations,counting and operation,logical problem solving
0,A,"[A)32400, B)6000, C)600, D)60000, E)10]",Three birds are flying at a fast rate of 900 k...,To calculate the equivalent of miles in a kilo...,0,1,0
1,D,"[A)100 m, B)150 m, C)200 m, D)250 m, E)300 m]",A ship is leaving a port. It takes 240 seconds...,Let the length of the ship be x metres and its...,1,0,0
2,C,"[A)6, B)18, C)24, D)36, E)48]",A rectangular piece of cloth 2 feet wide was c...,"The question says, length of shorter piece is ...",1,0,0
3,B,"[A)(1,1), B)(0,3), C)(2,0), D)(3,6), E)(6,3)]","In the xy-coordinate plane, which of the follo...",For a point to satisfy the given equation for ...,1,0,0
4,C,"[A)7, B)9, C)13, D)27, E)45]",A travel company wants to charter a plane to t...,"Additional passengers (i.e., an integer, let's...",0,0,1

In [334]:
final.to_csv('math_questions_fulldata.csv', index=False)