In [24]:
import pandas as pd
data = pd.read_csv('Math_questions_labeled.csv')

In [25]:
import nltk
import bs4 as bs
from nltk.tokenize import sent_tokenize # tokenizes sentences
import re
from nltk.stem import PorterStemmer
from nltk.tag import pos_tag
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

from IPython.core.display import display, HTML 
display(HTML("<style>.container { width:90% !important; }</style>")) #if 100% it would fit the screen
from __future__ import division, print_function # make it run on py2 an d py3
import requests # The requests library is an HTTP library for getting c ontent and posting etc.
import bs4 as bs # BeautifulSoup4 is a Python library for pulling data out of HTML and XML code. We can query markup languages for specific content

In [5]:
data.iloc[0:1000]

,Unnamed: 0,correct,options,question,rationale,spatial representations,counting and operation,logical problem solving,bag,clean_insight,category
0,0,A,"['A)32400', 'B)6000', 'C)600', 'D)60000', 'E)10']",Three birds are flying at a fast rate of 900 k...,To calculate the equivalent of miles in a kilo...,0.0,1.0,0.0,"['three', 'birds', 'flying', 'fast', 'rate', '...",three bird fly fast rate kilometer per hour sp...,1
1,1,D,"['A)100 m', 'B)150 m', 'C)200 m', 'D)250 m', '...",A ship is leaving a port. It takes 240 seconds...,Let the length of the ship be x metres and its...,1.0,1.0,0.0,"['ship', 'leaving', 'port', 'takes', 'seconds'...",ship leave port take second pass channel get p...,1
2,2,C,"['A)6', 'B)18', 'C)24', 'D)36', 'E)48']",A rectangular piece of cloth 2 feet wide was c...,"The question says, length of shorter piece is ...",1.0,1.0,0.0,"['rectangular', 'piece', 'cloth', 'feet', 'wid...",rectangular piece cloth foot wide cut lengthwi...,1
3,3,B,"['A)(1,1)', 'B)(0,3)', 'C)(2,0)', 'D)(3,6)', '...","In the xy-coordinate plane, which of the follo...",For a point to satisfy the given equation for ...,1.0,1.0,0.0,"['xycoordinate', 'plane', 'following', 'points...",xycoordinate plane follow point must lie line ...,1
4,4,C,"['A)7', 'B)9', 'C)13', 'D)27', 'E)45']",A travel company wants to charter a plane to t...,"Additional passengers (i.e., an integer, let's...",0.0,0.0,1.0,"['travel', 'company', 'wants', 'charter', 'pla...",travel company want charter plane bahamas char...,2
5,5,B,"['A)$895', 'B)$905', 'C)$910', 'D)$915', 'E)$9...","Kirk sells cars. On two sales, Kirk has receiv...",Let X be the third value.\r\r\r\n850 + 705 + X...,0.0,1.0,0.0,"['kirk', 'sells', 'cars', 'two', 'sales', 'kir...",kirk sell car two sale kirk receive commission...,1
6,6,E,"['A)$203', 'B)$202', 'C)$209', 'D)$205', 'E)$2...",A group of 5 friends were to contribute equall...,"At the non-discounted price, each friend would...",0.0,0.0,1.0,"['group', 'friends', 'contribute', 'equally', ...",group friends contribute equally purchase item...,2
7,7,B,"['A)5.5', 'B)6', 'C)7', 'D)8', 'E)8.25']","Let A, B and C denote the vertices of a triang...","First, note that 4AFD and 4AFE have the same a...",1.0,0.0,1.0,"['let', 'b', 'c', 'denote', 'vertices', 'trian...",let b c denote vertex triangle area let point ...,2
8,8,D,"['A)300', 'B)420', 'C)912', 'D)1340', 'E)1500']",ABC company pays an average of $120 per vehicl...,This means it could go out sometimes and it co...,0.0,1.0,0.0,"['abc', 'company', 'pays', 'average', 'per', '...",abc company pay average per vehicle month outd...,1
9,9,D,"['A)30 litres', 'B)27 litres', 'C)25 litres', ...",Solution A has 5% salt concentration and remai...,Before Evaporation:\r\r\r\nSalt : 5% of 50 lit...,0.0,1.0,1.0,"['solution', 'salt', 'concentration', 'remaini...",solution salt concentration remain water heati...,1
10,10,B,"['A)15', 'B)27', 'C)14', 'D)12', 'E)20']","If a number of apples, say x, is divisible by ...",The numbers are 3 and 9\r\r\r\n3=1*3\r\r\r\n9=...,0.0,1.0,0.0,"['number', 'apples', 'say', 'x', 'divisible', ...",number apple say x divisible x multiple follow...,1
11,11,D,"['A)6', 'B)12', 'C)36', 'D)72', 'E)144']",In how many arrangements can you arrange 3 gre...,"BGBGBG or GBGBGB --> 2 ways,\r\r\r\nBoth 3 B's...",0.0,1.0,1.0,"['many', 'arrangements', 'arrange', 'green', '...",many arrangement arrange green cone blue cone ...,1
12,12,B,"['A)8', 'B)9', 'C)10', 'D)11', 'E)12']","In a mixture, the ratio of spirit and water is...",Let amount of spirit be 3x. and water=2x.\r\r\...,0.0,1.0,0.0,"['mixture', 'ratio', 'spirit', 'water', 'amoun...",mixture ratio spirit water amount spirit litre...,1
13,13,B,"['A)6 hours', 'B)14.85 hours', 'C)12.1 hours',...",A car traveled 40 mph from Belnap to Lincoln a...,The whole trip was 660 miles. which means one ...,0.0,1.0,0.0,"['car', 'traveled', 'mph', 'belnap', 'lincoln'...",car travel mph belnap lincoln mph lincoln beln...,1
14,14,B,"['A)12 million', 'B)10 million', 'C)14 million...","In a certain conservative mutual fund, 60 perc...",Let x be the total money or value of the mutua...,0.0,1.0,1.0,"['certain', 'conservative', 'mutual', 'fund', ...",certain conservative mutual fund percent money...,2
15,15,A,"['A)$68.00', 'B)$69.00', 'C)$70.00', 'D)$71.00...",A certain state imposes a 4% tax on the nightl...,Total charge for a room for one night was $72....,0.0,1.0,1.0,"['certain', 'state', 'imposes', 'tax', 'nightl...",certain state imposes tax nightly rate hotel r...,2
16,16,B,"['A)30', 'B)32', 'C)42', 'D)45', 'E)36']",Alex has enough money to buy 30 bricks. If the...,Test answer choice B) first as that is the mid...,0.0,1.0,1.0,"['alex', 'enough', 'money', 'buy', 'bricks', '...",alex enough money buy brick bricks cost cent l...,1
17,17,E,"['A)2,200', 'B)2,640', 'C)6,160', 'D)8,800', '...","In a poll of 45,000 dentists, only 30 percent ...",Find those who responded to the poll -\r\r\r\n...,0.0,1.0,1.0,"['poll', 'dentists', 'percent', 'responded', '...",poll dentists percent respond percent claim pr...,1
18,18,B,"['A)50.05%', 'B)50.25%', 'C)50.5%', 'D)51%', '...","In recent Malta elections, in a particular con...",Difference of 500 means A got 250 votes above ...,0.0,0.0,1.0,"['recent', 'malta', 'elections', 'particular',...",recent malta election particular constituency ...,2
19,19,B,"['A)5%', 'B)4.5%', 'C)4%', 'D)2%', 'E)No gain']",Glenn gains 10% from selling her scarf at $44....,Glenn bought her scarf for 44/1.1 = $40\r\r\r\...,0.0,1.0,1.0,"['glenn', 'gains', 'selling', 'scarf', 'mom', ...",glenn gain sell scarf mom tell shell buy famil...,1
20,20,A,"['A)180', 'B)190', 'C)140', 'D)150', 'E)None o...",A trader bought some books for Rs 8 each. The ...,"15% of Rs 8 = Rs 1.2 i.e, No. of books = 216/1...",0.0,1.0,0.0,"['trader', 'bought', 'books', 'rs', 'wholesale...",trader buy book rs wholesaler give discount bo...,1
21,21,B,"['A)$200', 'B)$400', 'C)$300', 'D)$500', 'E)$8...",Elliot has $1500 to buy a new laptop. His fath...,All the money elliot had\r\r\r\n1500+600 = $21...,0.0,1.0,1.0,"['elliot', 'buy', 'new', 'laptop', 'father', '...",elliot buy new laptop father give another good...,2
22,22,E,"['A)500 candy bars', 'B)450 candy bars', 'C)51...",Bill's shop sells candy bars by the full case....,(80/100) * X + 96 = X\r\r\r\n.80*X +96= X\r\r\...,0.0,1.0,0.0,"['bills', 'shop', 'sells', 'candy', 'bars', 'f...",bill shop sell candy bar full case full case a...,1
23,23,B,"['A)2 times per year', 'B)once every 15 years'...",Lucy has enough money to go to Canada every 6 ...,Lucy's speed = 1/6 trips per year\r\r\r\nLuke'...,0.0,1.0,1.0,"['lucy', 'enough', 'money', 'go', 'canada', 'e...",lucy enough money go canada every year luke en...,1
24,24,C,"['A)25', 'B)32', 'C)36', 'D)40', 'E)60']",A group of stock analysts had a contest. Each ...,There were a total of 6*30 = 180 picks made by...,0.0,0.0,1.0,"['group', 'stock', 'analysts', 'contest', 'ana...",group stock analyst contest analyst pick stock...,2
25,25,C,"['A)1hours', 'B)2hours', 'C)3hours', 'D)175 mi...",Which is a longer period of time: 3 hours or 1...,convert 3 hours into minute\r\r\r\n60 minutes ...,1.0,1.0,0.0,"['longer', 'period', 'time', 'hours', 'minutes...",long period time hour minute convert hour minu...,3
26,26,A,"['A)-5 and 3', 'B)± 2', 'C)2 only', 'D)-3 and ...",The root(s) of 15/(x2 - 4) – 2/(x - 2) = 1 is ...,15/(x2 - 4) – 2/(x - 2) = 1.\r\r\r\n15/(x2 - 2...,0.0,1.0,1.0,"['roots', 'x', 'x', 'therefore', 'answer']",root x x therefore answer,1
27,27,D,"['A)324', 'B)377', 'C)136', 'D)144', 'E)222']",A farming field can be ploughed by 6 tractors ...,If each of 66 tractors ploughed 120120 hectare...,0.0,1.0,1.0,"['farming', 'field', 'ploughed', 'tractors', '...",farm field plough tractor day tractor work tog...,1
28,28,E,"['A)20', 'B)40', 'C)60', 'D)80', 'E)100']","On sports day, if 24 children were made to sta...","Each each child forms 10/24 of a column. Then,...",0.0,1.0,0.0,"['sports', 'day', 'children', 'made', 'stand',...",sport day child make stand column column could...,1
29,29,A,"['A)Rs.16002', 'B)Rs.16004', 'C)Rs.16015', 'D)...","The salaries of Kiran, Prakash and Sanjay are ...",p+s=56000\r\r\r\nlet us consider salaries of k...,0.0,0.0,1.0,"['salaries', 'kiran', 'prakash', 'sanjay', 'ra...",salary kiran prakash sanjay ratio salary praka...,2
...,...,...,...,...,...,...,...,...,...,...,...
970,970,D,"['A)$503', 'B)$504', 'C)$555', 'D)$576', 'E)$5...",A car is purchased on hire-purchase. The cash ...,Explanation:\r\r\r\nCash price = $24 000\r\r\r...,0.0,1.0,0.0,"['car', 'purchased', 'hirepurchase', 'cash', '...",car purchase hirepurchase cash price term depo...,1
971,971,E,"['A)600', 'B)400', 'C)500', 'D)670', 'E)800']",A dishonest dealer professes to sell goods at ...,E\r\r\r\n25 = E/(1000 - E) * 100\r\r\r\n1000 -...,0.0,1.0,0.0,"['dishonest', 'dealer', 'professes', 'sell', '...",dishonest dealer professes sell good cost pric...,1
972,972,C,"['A)1002', 'B)2899', 'C)1000', 'D)2807', 'E)28...",cube of side one meter length is cut into smal...,"Along one edge, the number of small cubes that...",0.0,1.0,0.0,"['cube', 'side', 'one', 'meter', 'length', 'cu...",cube side one meter length cut small cube side...,1
973,973,E,"['A)20%', 'B)40%', 'C)60%', 'D)80%', 'E)100%']","On a certain transatlantic crossing, 20 percen...",Let T be the total number of passengers.\r\r\r...,0.0,0.0,1.0,"['certain', 'transatlantic', 'crossing', 'perc...",certain transatlantic crossing percent ship pa...,2
974,974,B,"['A)950', 'B)1050', 'C)2150', 'D)2050', 'E)1000']",There are 15 boys and 10 girls in a class. If ...,n(s) = sample space = 25C3 = 2300\r\r\r\nE = e...,0.0,1.0,0.0,"['boys', 'girls', 'class', 'three', 'students'...",boy girl class three student select random man...,1
975,975,A,"['A)-1/2', 'B)-3/2', 'C)0', 'D)1/2', 'E)3/2']","consider the sequence 1,-2,3,-4,5,6.....what i...","suppose n=2 => avg is (1+-2)/2= -1/2, when n=4...",0.0,0.0,1.0,"['consider', 'sequence', 'average', 'first', '...",consider sequence average first term sequence ...,2
976,976,D,"['A)1/3', 'B)1/2', 'C)2/11', 'D)3/11', 'E)11/13']",3 balls are drawn randomly from a bag contains...,Total number of balls = 3 + 5 + 4 = 12\r\r\r\n...,0.0,0.0,1.0,"['balls', 'drawn', 'randomly', 'bag', 'contain...",ball draw randomly bag contain black red blue ...,2
977,977,D,"['A)28', 'B)29', 'C)11', 'D)32', 'E)10']","Of the four numbers, whose average is 40, the ...","Explanation:\r\r\r\nLet the first number be x,...",0.0,1.0,0.0,"['four', 'numbers', 'whose', 'average', 'first...",four number whose average first onefourth sum ...,1
978,978,D,"['A)6', 'B)10', 'C)8', 'D)12', 'E)14']","In a group of buffaloes and ducks, the number ...",Explanation:\r\r\r\nLet the number of buffaoes...,0.0,1.0,0.0,"['group', 'buffaloes', 'ducks', 'number', 'leg...",group buffalo duck number legs twice number he...,1
979,979,E,"['A)6 %', 'B)6.1 %', 'C)6.2 %', 'D)6.3 %', 'E)...","A man has $ 10,000 to invest. He invests $ 400...",Income from $ 4000 at 5 % in one year = $ 4000...,0.0,1.0,0.0,"['man', 'invest', 'invests', 'order', 'yearly'...",man invest invest order yearly income must inv...,1
980,980,E,"['A)75 kg', 'B)55 kg', 'C)45 kg', 'D)85 kg', '...",he average weight of 8 persons increases by 3....,Explanation:\r\r\r\nTotal weight increased = (...,0.0,1.0,0.0,"['average', 'weight', 'persons', 'increases', ...",average weight person increase kg new person c...,1
981,981,B,"['A)Four', 'B)Five', 'C)Nine', 'D)Ten', 'E)Ele...",7.51 8.22 7.86 8.36\r\r\r\n8.09 7.83 8.30 8.01...,Mean = 8.5\r\r\r\nStandard Deviation = 0.2\r\r...,0.0,1.0,0.0,"['vending', 'machine', 'designed', 'dispense',...",vend machine design dispense ounce coffee cup ...,1
982,982,D,"['A)15.25 days', 'B)16.25 days', 'C)17.25 days...",Vinoth can complete a painting work in 20 days...,Vinoth can complete the painting work in one d...,0.0,0.0,1.0,"['vinoth', 'complete', 'painting', 'work', 'da...",vinoth complete painting work day prakash work...,2
983,983,A,"['A)125/126', 'B)125/129', 'C)125/128', 'D)125...",A box contains nine bulbs out of which 4 are d...,Required probability = 1 - 1/126 = 125/126.Ans...,0.0,1.0,0.0,"['box', 'contains', 'nine', 'bulbs', 'defectiv...",box contain nine bulb defective four bulb choo...,1
984,984,B,"['A)I, II, and III', 'B)III only', 'C)I and II...",If 180/x is an integer and 108/x is an integer...,The largest possible value of x is 36 (the gre...,0.0,1.0,0.0,"['x', 'integer', 'x', 'integer', 'following', ...",x integer x integer follow must truei x intege...,1
985,985,B,"['A)120 m', 'B)225 m', 'C)300 m', 'D)360 m', '...",A train passes a station platform in 35 second...,Speed = 54 x\t5/18\tm/sec = 15 m/sec.\r\r\r\nL...,0.0,0.0,1.0,"['train', 'passes', 'station', 'platform', 'se...",train pass station platform second man stand p...,2
986,986,A,"['A)4', 'B)5', 'C)6', 'D)8', 'E)9']",Let N be the greatest number that will divide ...,Explanation:\r\r\r\nN = H.C.F. of (4665 - 1305...,0.0,0.0,1.0,"['let', 'n', 'greatest', 'number', 'divide', '...",let n great number divide leave remainder case...,2
987,987,D,"['A)1/2', 'B)1/3', 'C)2/3', 'D)3/4', 'E)3/5']","In a simultaneous throw of two coins, the prob...","Here S={HH, HT, TH, TT}\r\r\r\nLet E = event o...",0.0,1.0,0.0,"['simultaneous', 'throw', 'two', 'coins', 'pro...",simultaneous throw two coin probability get le...,1
988,988,E,"['A)A)Rs.7000', 'B)B)Rs.8000', 'C)C)Rs.8500', ...","Narendra started a business, investing 30000. ...",The ratio of their investments = 30000 × 12 : ...,0.0,1.0,0.0,"['narendra', 'started', 'business', 'investing...",narendra start business invest six month later...,1
989,989,A,"['A)144 kmph', 'B)58 kmph', 'C)54 kmph', 'D)94...",A train 120 m long crosses a platform 120 m lo...,D = 120 + 120 = 240\r\r\r\nT = 6\r\r\r\nS = 24...,0.0,0.0,1.0,"['train', 'long', 'crosses', 'platform', 'long...",train long cross platform long sec find speed ...,2
990,990,C,"['A)9700', 'B)9710', 'C)9720', 'D)9730', 'E)No...",Find the largest number of four digits which i...,Explanation:\r\r\r\nLCM of 27-18-12-15 is 540....,0.0,0.0,1.0,"['find', 'largest', 'number', 'four', 'digits'...",find large number four digit exactly divisible...,2
991,991,B,"['A)three times as much', 'B)twice as much', '...",Jones covered a distance of 50 miles on his fi...,et speed of the 1st trip x miles / hr. and spe...,0.0,1.0,0.0,"['jones', 'covered', 'distance', 'miles', 'fir...",jones cover distance mile first trip later tri...,1
992,992,B,"['A) 24', 'B) 26', 'C) 30', 'D) 46', 'E) 50']",The contents of a certain box consist of 24 or...,oranges = (oranges + kiwi + x)*0.3\r\r\r\n24 =...,0.0,1.0,0.0,"['contents', 'certain', 'box', 'consist', 'ora...",content certain box consist orange kiwis many ...,1
993,993,D,"['A)32', 'B)28', 'C)29', 'D)44', 'E)21']",A train 250 meters long completely crosses a 3...,S = (250 + 300)/45 = 550/45 * 18/5 =44\r\r\r\n...,0.0,1.0,0.0,"['train', 'meters', 'long', 'completely', 'cro...",train meter long completely cross meter long b...,1
994,994,C,"['A)4x', 'B)3x', 'C)1x', 'D)2x', 'E)6x']",A side of an equilateral triangle is tripled. ...,"If the parameter before it was tripled 3x, one...",0.0,1.0,0.0,"['side', 'equilateral', 'triangle', 'tripled',...",side equilateral triangle triple previous para...,1
995,995,C,"['A)22', 'B)24', 'C)26', 'D)28', 'E)None of th...","If 9 engines consume 24 metric tonnes of coal,...",Let 3 engines of former type consume 1 unit in...,1.0,0.0,0.0,"['engines', 'consume', 'metric', 'tonnes', 'co...",engine consume metric tonne coal work hoursday...,3
996,996,B,"['A)Rs.500000', 'B)Rs.50000', 'C)Rs.5000', 'D)...",An individual deposited 20% of 25% of 30% of w...,let x amount he has then 20% of 25% of 30% of ...,0.0,1.0,0.0,"['individual', 'deposited', 'account', 'bank',...",individual deposit account bank deposit rs muc...,1
997,997,C,"['A)117/2Â°', 'B)64Â°', 'C)135/2Â°', 'D)145/2Â...",At what angle the hands of a clock are incline...,Apply the formula:\r\r\r\n30h-11/2m=Angle\r\r\...,0.0,1.0,0.0,"['angle', 'hands', 'clock', 'inclined', 'minut...",angle hand clock incline minute past apply for...,1
998,998,C,"['A)5 hours', 'B)4 1⁄2 hours', 'C)4 3⁄4 hours'...",A man walks a certain distance and rides back ...,"We know that, the relation in time taken with ...",0.0,1.0,0.0,"['man', 'walks', 'certain', 'distance', 'rides...",man walk certain distance ride back h walk way...,1
999,999,B,"['A)28', 'B)99', 'C)728', 'D)27', 'E)271']",It is only in the second option we find the se...,Answer:B,0.0,1.0,0.0,"['second', 'option', 'find', 'sentence', 'cont...",second option find sentence continuation open ...,1

In [26]:
import urllib.parse, urllib.request, json

In [167]:
def CallWikifier(text, lang="en", threshold=0.7):
    data = urllib.parse.urlencode([
        ("text", text), ("lang", lang),
        ("userKey", "rearpqcxiusxybnwbmmrjnvxinkuwa"),
        ("pageRankSqThreshold", "%g" % threshold), ("applyPageRankSqThreshold", "true"),
        ("nTopDfValuesToIgnore", "0"), ("nWordsToIgnoreFromList", "-1"),
        ("wikiDataClasses", "true"), ("wikiDataClassIds", "false"),
        ("support", "false"), ("ranges", "true"),
        ("includeCosines", "false"), ("maxMentionEntropy", "3"), ("maxTargetsPerMention","6")])
    url = "http://www.wikifier.org/annotate-article"
    req = urllib.request.Request(url, data=data.encode("utf8"), method="POST")
    with urllib.request.urlopen(req, timeout = 60) as f:
        response = f.read()
        response = json.loads(response.decode("utf8"))
    # Output
    for annotation in response["annotations"]:
        print("%s (%s)" % (annotation["title"], annotation["url"]))

In [166]:
CallWikifier("ship leave port take second pass channel get port gate take second pas gate port length let length ship metre speed msec answer")

Ship (http://en.wikipedia.org/wiki/Ship)
Port (http://en.wikipedia.org/wiki/Port)
Metre (http://en.wikipedia.org/wiki/Metre)

In [30]:
#req = urllib.request.Request(url, data=data.encode("utf8"), method="POST")

In [20]:
#response = requests.get("http://api.open-notify.org/iss-now.json")
#print(response.status_code)
#response = requests.get("http://api.open-notify.org/iss-pass.json")
#print(response.status_code)

In [38]:
# import urllib.parse, urllib.request, json

# def CosineSimilarity(lang, title1, title2):
#     # Prepare the URL.
#     data = urllib.parse.urlencode([("lang", lang),
#         ("title1", title1), ("title2", title2)])
#     url = "http://www.wikifier.org/get-cosine-similarity?" + data
#     # Call the Wikifier and read the response.
#     with urllib.request.urlopen(url, timeout = 60) as f:
#         response = f.read()
#         response = json.loads(response.decode("utf8"))
#     # Return the cosine similarity between the TF-IDF vectors.
#     return response["cosTfIdfVec"]

In [39]:
# print(CosineSimilarity("en", "New York", "New York City"))

0.7092296483183703