In [1]:
import pandas as pd
import nltk
import bs4 as bs
from nltk.tokenize import sent_tokenize # tokenizes sentences
import re
from nltk.stem import PorterStemmer
from nltk.tag import pos_tag
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

## In this notebook I am doing a clustering of Science questions using KMeans algorithm with K=5. Then we can vizualize the result with plotly to see what are the most important features (words here) for each cluster and name each cluster.

In [2]:
data = pd.read_csv('science_questions.csv')

In [3]:
data.shape

(2707, 7)

In [4]:
def get_wordnet_pos(treebank_tag):

    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return 'n'

In [5]:
n, c = data.shape

In [6]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
bag_question = []
for i in range(n):
    question = bs.BeautifulSoup(data['question'][i],features='lxml').text
    question = question.replace('.','. ')
    question = re.sub(r'\{.*\}', '', question)
    question = re.sub('[^a-zA-Z ]' ,'',question)
    question = question.lower()
    question_words = question.split()
    question_wo_stopwords = [w for w in question_words if not w in stopwords.words("english")]
    vect = CountVectorizer(max_features=5)
    if not question_wo_stopwords == []:
        vect.fit(question_wo_stopwords)
        bag = vect.transform(question_wo_stopwords)
        features = vect.get_feature_names()
        bag_question.append(features)
    if question_wo_stopwords == []:
        data = data.drop(i)

In [7]:
data = data.reset_index(drop=True)

In [8]:
n, c = data.shape

In [9]:
data['bag_question'] = bag_question

In [10]:
data.head()

,Unnamed: 0,questionID,AnswerKey,examName,schoolGrade,question,subject,bag_question
0,0,AKDE&ED_2008_4_4,C,Alaska Department of Education & Early Develop...,4,Which organism needs to make its own food? (A)...,Biology,"[food, make, needs, organism]"
1,1,AKDE&ED_2008_4_31,D,Alaska Department of Education & Early Develop...,4,Students planted one hundred flower seeds. The...,Biology,"[could, flower, growth, hundred, observations]"
2,2,AKDE&ED_2012_4_9,C,Alaska Department of Education & Early Develop...,4,Study the data table below. {Alaska-2012-4-10}...,Biology,"[bands, rubber, set, students, test]"
3,3,AKDE&ED_2012_4_24,B,Alaska Department of Education & Early Develop...,4,The chart shows observations of the Moon. {Ala...,Biology,"[chart, moon, observations, shows]"
4,4,CSZ_2009_5_18,A,California Standards Test,5,A balloon has a negative charge. A glass rod h...,Biology,"[attracted, balloon, charge, glass, rod]"

## Lemmatization

In [11]:
question_clean_wnl = []
wnl = WordNetLemmatizer()
for i in range(0,n):
    if( (i+1)%500 == 0 ):
        # print progress
        print("Done with %d reviews" %(i+1)) 
    
    wnl_stems = []
    question = data['bag_question'][i]
    token_tag = pos_tag(question)
    for pair in token_tag:
        res = wnl.lemmatize(pair[0],pos=get_wordnet_pos(pair[1]))
        wnl_stems.append(res)

    question_clean_wnl.append(' '.join(wnl_stems))

Done with 500 reviews
Done with 1000 reviews
Done with 1500 reviews
Done with 2000 reviews
Done with 2500 reviews

In [12]:
data['cleaned_question'] = question_clean_wnl

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
question = data['cleaned_question']
vect = CountVectorizer()
vect.fit(question)
bag = vect.transform(question)
vect_df = pd.DataFrame(bag.toarray(), columns=vect.get_feature_names())
vect_df.head()

,aa,abandon,ability,able,abnormal,abnormality,absorb,absorbed,absorbs,absorption,...,wrinkle,yard,year,yearly,yearold,yes,young,zinc,zone,zygote
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
data.head()

,Unnamed: 0,questionID,AnswerKey,examName,schoolGrade,question,subject,bag_question,cleaned_question
0,0,AKDE&ED_2008_4_4,C,Alaska Department of Education & Early Develop...,4,Which organism needs to make its own food? (A)...,Biology,"[food, make, needs, organism]",food make need organism
1,1,AKDE&ED_2008_4_31,D,Alaska Department of Education & Early Develop...,4,Students planted one hundred flower seeds. The...,Biology,"[could, flower, growth, hundred, observations]",could flower growth hundred observation
2,2,AKDE&ED_2012_4_9,C,Alaska Department of Education & Early Develop...,4,Study the data table below. {Alaska-2012-4-10}...,Biology,"[bands, rubber, set, students, test]",band rubber set student test
3,3,AKDE&ED_2012_4_24,B,Alaska Department of Education & Early Develop...,4,The chart shows observations of the Moon. {Ala...,Biology,"[chart, moon, observations, shows]",chart moon observation show
4,4,CSZ_2009_5_18,A,California Standards Test,5,A balloon has a negative charge. A glass rod h...,Biology,"[attracted, balloon, charge, glass, rod]",attract balloon charge glass rod

## KMean algorithm

In [15]:
from sklearn.cluster import KMeans
q, w = vect_df.shape
vect_question = bag.toarray()
k = 5 # number of clusters
kmeans = KMeans(n_clusters=k, init='random')
kmeans.fit(vect_question)
#
# Get a list of the questions in each cluster
#
clusters = []
for j in range(0,k):
    clusters.append([])
for i in range(0,n):
    clusters[kmeans.labels_[i]].append(i)
#
# Print out clusters
#
for j in range(0,k):
    print(j+1,'\n', clusters[j], '\n\n')

1
 [0, 1, 3, 4, 6, 7, 9, 11, 12, 13, 14, 15, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 35, 37, 38, 40, 41, 42, 43, 44, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 89, 90, 93, 95, 96, 97, 98, 99, 100, 103, 104, 105, 106, 107, 110, 111, 112, 114, 115, 116, 117, 118, 119, 122, 126, 128, 129, 130, 131, 133, 134, 135, 137, 138, 139, 140, 141, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 156, 158, 159, 160, 163, 164, 169, 174, 175, 176, 177, 178, 182, 183, 184, 187, 188, 189, 193, 194, 196, 197, 198, 199, 200, 203, 204, 205, 206, 207, 209, 210, 211, 212, 213, 214, 215, 217, 218, 220, 221, 223, 224, 225, 226, 227, 228, 229, 230, 232, 233, 234, 237, 238, 239, 240, 241, 242, 243, 245, 247, 248, 249, 250, 251, 253, 255, 256, 258, 259, 261, 262, 264, 265, 266, 267, 268, 269, 270, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 287, 288, 290, 291, 292, 293, 294, 296, 298, 299, 300, 301, 304, 307, 309, 310, 311, 312, 313, 315, 316, 318, 319, 320, 321, 323, 324, 325, 326, 327, 329, 330, 332, 333, 336, 337, 338, 339, 340, 342, 343, 344, 345, 346, 347, 348, 349, 350, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 370, 372, 373, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 386, 387, 388, 389, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 403, 404, 405, 406, 407, 408, 409, 411, 412, 413, 415, 416, 418, 419, 421, 422, 423, 424, 425, 426, 427, 429, 430, 431, 432, 434, 436, 437, 439, 440, 441, 442, 445, 446, 447, 448, 452, 453, 454, 455, 457, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 470, 473, 474, 475, 476, 477, 478, 479, 480, 481, 484, 485, 486, 487, 488, 490, 499, 500, 503, 504, 507, 508, 509, 511, 512, 513, 514, 515, 516, 517, 518, 519, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 546, 547, 548, 551, 557, 558, 559, 560, 561, 562, 563, 564, 565, 567, 568, 569, 570, 571, 572, 573, 574, 575, 577, 578, 579, 580, 581, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 594, 595, 596, 597, 598, 599, 600, 601, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 630, 631, 632, 633, 634, 635, 637, 638, 639, 640, 641, 643, 644, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 687, 688, 689, 690, 691, 692, 693, 694, 696, 697, 698, 699, 700, 701, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 729, 730, 731, 732, 734, 735, 737, 739, 740, 741, 742, 745, 746, 747, 749, 750, 752, 754, 755, 756, 757, 758, 759, 760, 761, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 774, 776, 777, 778, 780, 782, 783, 784, 785, 787, 788, 790, 791, 792, 793, 794, 795, 796, 799, 800, 802, 803, 804, 805, 806, 807, 808, 810, 814, 816, 817, 818, 819, 820, 822, 823, 824, 825, 826, 827, 828, 830, 832, 834, 836, 837, 838, 839, 841, 842, 843, 844, 846, 847, 848, 850, 852, 854, 856, 857, 861, 862, 863, 864, 866, 868, 869, 870, 871, 872, 873, 874, 875, 876, 878, 879, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 901, 902, 904, 905, 906, 907, 908, 911, 913, 916, 917, 918, 921, 922, 923, 924, 925, 927, 928, 929, 931, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 964, 965, 966, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 979, 980, 982, 984, 985, 986, 987, 988, 989, 993, 996, 998, 999, 1000, 1001, 1002, 1003, 1004, 1007, 1012, 1013, 1015, 1016, 1018, 1019, 1020, 1021, 1023, 1024, 1025, 1026, 1027, 1029, 1030, 1031, 1032, 1034, 1036, 1037, 1040, 1041, 1043, 1045, 1047, 1048, 1049, 1051, 1052, 1054, 1055, 1056, 1057, 1060, 1062, 1064, 1065, 1067, 1068, 1070, 1071, 1073, 1074, 1075, 1076, 1077, 1079, 1081, 1085, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1101, 1102, 1103, 1104, 1106, 1107, 1108, 1110, 1112, 1113, 1114, 1115, 1116, 1117, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1130, 1132, 1134, 1137, 1138, 1139, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1150, 1151, 1154, 1156, 1157, 1158, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1189, 1190, 1191, 1192, 1193, 1194, 1196, 1197, 1199, 1200, 1202, 1203, 1206, 1207, 1208, 1209, 1210, 1212, 1214, 1216, 1217, 1218, 1219, 1220, 1221, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1254, 1255, 1257, 1258, 1260, 1261, 1262, 1264, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1279, 1280, 1281, 1282, 1284, 1285, 1286, 1287, 1288, 1289, 1291, 1292, 1293, 1294, 1295, 1298, 1299, 1300, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1310, 1312, 1313, 1315, 1316, 1317, 1318, 1319, 1320, 1322, 1324, 1325, 1326, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1338, 1339, 1341, 1343, 1344, 1345, 1346, 1349, 1350, 1351, 1352, 1353, 1354, 1356, 1357, 1358, 1360, 1362, 1363, 1364, 1365, 1366, 1368, 1369, 1370, 1372, 1373, 1374, 1377, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1390, 1391, 1392, 1394, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1406, 1408, 1410, 1412, 1414, 1415, 1416, 1417, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1428, 1429, 1431, 1432, 1433, 1434, 1435, 1437, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1448, 1449, 1450, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1480, 1481, 1483, 1484, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1498, 1499, 1500, 1501, 1502, 1505, 1506, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1515, 1516, 1519, 1521, 1522, 1523, 1524, 1525, 1526, 1527, 1530, 1532, 1534, 1535, 1537, 1538, 1539, 1540, 1543, 1544, 1545, 1546, 1547, 1548, 1550, 1551, 1554, 1555, 1556, 1557, 1558, 1559, 1560, 1562, 1563, 1565, 1566, 1567, 1568, 1569, 1570, 1572, 1573, 1575, 1576, 1577, 1578, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1594, 1595, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1620, 1622, 1623, 1624, 1625, 1626, 1627, 1629, 1630, 1631, 1632, 1633, 1634, 1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1657, 1658, 1659, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1673, 1674, 1675, 1676, 1677, 1680, 1681, 1682, 1683, 1685, 1686, 1687, 1688, 1689, 1690, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1723, 1724, 1725, 1726, 1727, 1729, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1764, 1766, 1767, 1768, 1769, 1770, 1772, 1773, 1774, 1775, 1777, 1778, 1779, 1780, 1781, 1782, 1784, 1785, 1786, 1787, 1788, 1789, 1791, 1792, 1793, 1796, 1797, 1798, 1799, 1800, 1801, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1829, 1830, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1850, 1851, 1852, 1856, 1857, 1858, 1859, 1861, 1862, 1863, 1864, 1865, 1866, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1879, 1880, 1881, 1882, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1902, 1903, 1904, 1906, 1907, 1908, 1912, 1913, 1914, 1915, 1916, 1918, 1919, 1920, 1921, 1922, 1924, 1925, 1926, 1927, 1928, 1929, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1965, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1990, 1991, 1992, 1993, 1994, 1995, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2029, 2030, 2034, 2035, 2036, 2037, 2038, 2039, 2041, 2042, 2043, 2044, 2045, 2047, 2048, 2050, 2051, 2052, 2054, 2056, 2057, 2058, 2059, 2060, 2061, 2063, 2064, 2065, 2067, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2094, 2097, 2098, 2099, 2101, 2102, 2103, 2104, 2105, 2106, 2108, 2111, 2114, 2115, 2116, 2117, 2118, 2119, 2123, 2124, 2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2142, 2143, 2144, 2145, 2147, 2148, 2149, 2150, 2151, 2152, 2153, 2154, 2157, 2158, 2160, 2161, 2162, 2163, 2164, 2165, 2166, 2167, 2168, 2169, 2170, 2171, 2173, 2174, 2176, 2178, 2180, 2181, 2182, 2183, 2184, 2186, 2187, 2188, 2189, 2190, 2191, 2192, 2193, 2194, 2197, 2198, 2199, 2200, 2201, 2202, 2203, 2204, 2205, 2206, 2208, 2209, 2210, 2212, 2213, 2214, 2215, 2216, 2218, 2220, 2221, 2222, 2224, 2225, 2226, 2227, 2228, 2229, 2230, 2231, 2234, 2235, 2236, 2237, 2238, 2239, 2240, 2241, 2242, 2243, 2244, 2246, 2247, 2248, 2249, 2250, 2251, 2252, 2254, 2255, 2256, 2257, 2258, 2259, 2260, 2261, 2262, 2263, 2264, 2265, 2266, 2267, 2268, 2269, 2270, 2271, 2272, 2273, 2274, 2275, 2276, 2277, 2280, 2281, 2282, 2284, 2286, 2287, 2288, 2289, 2290, 2292, 2293, 2294, 2295, 2296, 2297, 2298, 2302, 2303, 2304, 2305, 2306, 2307, 2308, 2310, 2311, 2312, 2313, 2314, 2315, 2316, 2317, 2318, 2319, 2320, 2321, 2322, 2325, 2326, 2328, 2329, 2330, 2331, 2332, 2333, 2334, 2335, 2336, 2337, 2338, 2339, 2340, 2343, 2344, 2345, 2346, 2347, 2348, 2349, 2350, 2351, 2353, 2354, 2355, 2356, 2357, 2358, 2359, 2360, 2361, 2362, 2363, 2364, 2367, 2368, 2369, 2370, 2371, 2372, 2373, 2374, 2375, 2376, 2379, 2382, 2383, 2385, 2386, 2387, 2388, 2389, 2390, 2392, 2393, 2394, 2396, 2397, 2398, 2399, 2400, 2401, 2402, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 2411, 2412, 2414, 2415, 2416, 2418, 2419, 2420, 2421, 2422, 2423, 2424, 2425, 2426, 2427, 2428, 2429, 2430, 2431, 2432, 2433, 2434, 2435, 2436, 2437, 2438, 2439, 2440, 2441, 2442, 2443, 2444, 2445, 2446, 2447, 2448, 2449, 2450, 2451, 2452, 2453, 2457, 2458, 2459, 2460, 2461, 2462, 2463, 2464, 2465, 2466, 2467, 2468, 2469, 2470, 2472, 2473, 2474, 2475, 2477, 2480, 2481, 2482, 2483, 2484, 2485, 2486, 2487, 2488, 2490, 2491, 2492, 2493, 2494, 2495, 2496, 2497, 2498, 2499, 2500, 2501, 2502, 2503, 2504, 2505, 2506, 2507, 2508, 2509, 2510, 2511, 2512, 2513, 2514, 2515, 2516, 2517, 2518, 2519, 2521, 2522, 2524, 2525, 2526, 2527, 2532, 2533, 2534, 2535, 2536, 2537, 2539, 2540, 2541, 2543, 2544, 2545, 2546, 2547, 2548, 2549, 2550, 2552, 2553, 2554, 2555, 2557, 2558, 2559, 2560, 2561, 2563, 2565, 2566, 2567, 2568, 2569, 2570, 2571, 2572, 2573, 2574, 2575, 2576, 2577, 2578, 2579, 2580, 2581, 2582, 2583, 2584, 2585, 2586, 2588, 2590, 2591, 2592, 2593, 2594, 2596, 2597, 2598, 2599, 2600, 2601, 2605, 2606, 2607, 2609, 2610, 2611, 2612, 2613, 2614, 2615, 2616, 2617, 2620, 2622, 2623, 2624, 2626, 2627, 2628, 2629, 2630, 2632, 2633, 2634, 2635, 2637, 2638, 2639, 2640, 2641, 2642, 2643, 2644, 2645, 2646, 2648, 2649, 2650, 2651, 2652, 2653, 2654, 2655, 2656, 2657, 2658, 2659, 2661, 2662, 2663, 2664, 2665, 2666, 2667, 2668, 2669, 2670, 2671, 2672, 2673, 2674, 2675, 2676, 2678, 2679, 2681, 2682, 2683, 2684, 2686, 2688, 2689, 2690, 2691, 2692, 2693, 2694, 2695, 2696, 2697, 2698]


2
 [5, 17, 63, 101, 109, 173, 201, 216, 222, 244, 305, 306, 322, 417, 495, 501, 502, 505, 582, 593, 602, 642, 682, 683, 695, 728, 738, 773, 798, 809, 829, 835, 840, 853, 858, 859, 867, 880, 881, 903, 909, 910, 914, 920, 962, 963, 978, 995, 1009, 1010, 1011, 1014, 1022, 1028, 1039, 1042, 1058, 1063, 1082, 1100, 1118, 1201, 1215, 1222, 1232, 1253, 1263, 1265, 1297, 1301, 1314, 1321, 1323, 1342, 1348, 1359, 1407, 1413, 1438, 1447, 1451, 1468, 1504, 1528, 1529, 1531, 1619, 1621, 1635, 1721, 1722, 1728, 1765, 1776, 1802, 1854, 1878, 1883, 1901, 1905, 1909, 1911, 1917, 1930, 1931, 1949, 1966, 1996, 2028, 2031, 2032, 2046, 2062, 2068, 2100, 2109, 2110, 2139, 2141, 2175, 2207, 2211, 2233, 2245, 2283, 2300, 2301, 2324, 2327, 2378, 2384, 2391, 2403, 2417, 2456, 2489, 2523, 2531, 2542, 2562, 2564, 2621, 2631, 2647, 2677, 2680, 2685]


3
 [45, 121, 123, 124, 125, 127, 165, 190, 192, 235, 236, 246, 257, 286, 335, 385, 410, 420, 443, 456, 556, 663, 753, 762, 781, 797, 821, 845, 865, 930, 947, 990, 991, 992, 1005, 1006, 1008, 1033, 1046, 1061, 1069, 1078, 1129, 1149, 1152, 1153, 1159, 1195, 1211, 1311, 1340, 1367, 1371, 1389, 1395, 1405, 1409, 1411, 1418, 1427, 1430, 1482, 1497, 1517, 1549, 1552, 1553, 1579, 1593, 1596, 1660, 1678, 1679, 1730, 1762, 1763, 1794, 1795, 1813, 1831, 1860, 1923, 1964, 1997, 2009, 2040, 2053, 2055, 2066, 2092, 2095, 2096, 2107, 2113, 2120, 2121, 2122, 2140, 2156, 2172, 2185, 2195, 2217, 2219, 2232, 2279, 2299, 2323, 2352, 2365, 2366, 2381, 2395, 2413, 2455, 2476, 2478, 2479, 2528, 2529, 2530, 2538, 2589, 2595, 2603, 2625, 2636]


4
 [2, 16, 19, 31, 36, 39, 47, 57, 91, 92, 94, 102, 113, 120, 132, 136, 142, 143, 157, 161, 162, 167, 168, 170, 171, 172, 179, 180, 181, 185, 186, 191, 195, 202, 208, 252, 254, 260, 263, 271, 272, 295, 297, 303, 314, 374, 435, 438, 444, 450, 451, 458, 469, 471, 472, 482, 483, 491, 492, 493, 494, 496, 497, 498, 506, 510, 520, 550, 553, 554, 555, 566, 576, 636, 684, 717, 743, 744, 748, 751, 786, 801, 849, 851, 915, 926, 948, 997, 1017, 1044, 1050, 1119, 1131, 1136, 1140, 1213, 1242, 1259, 1283, 1337, 1347, 1361, 1375, 1376, 1378, 1379, 1393, 1469, 1485, 1503, 1514, 1533, 1536, 1628, 1656, 1672, 1684, 1691, 1783, 1849, 1853, 1867, 1989, 1998, 2033, 2049, 2093, 2146, 2159, 2196, 2285, 2309, 2377, 2380, 2587, 2602, 2618, 2687]


5
 [8, 10, 34, 46, 59, 82, 85, 108, 155, 166, 219, 231, 289, 302, 308, 317, 328, 331, 334, 341, 351, 369, 371, 390, 402, 414, 428, 433, 449, 489, 545, 549, 552, 629, 645, 685, 686, 702, 733, 736, 775, 779, 789, 811, 812, 813, 815, 831, 833, 855, 860, 877, 900, 912, 919, 932, 967, 981, 983, 994, 1035, 1038, 1053, 1059, 1066, 1072, 1080, 1083, 1084, 1086, 1105, 1109, 1111, 1133, 1135, 1155, 1168, 1188, 1198, 1204, 1205, 1223, 1256, 1278, 1290, 1296, 1309, 1327, 1328, 1355, 1380, 1388, 1436, 1479, 1518, 1520, 1541, 1542, 1561, 1564, 1571, 1574, 1692, 1771, 1790, 1812, 1814, 1828, 1855, 1910, 1974, 2112, 2155, 2177, 2179, 2223, 2253, 2278, 2291, 2341, 2342, 2454, 2471, 2520, 2551, 2556, 2604, 2608, 2619, 2660]

In [16]:
for i in range (len(clusters)):
    print(len(clusters[i]))

2157
147
127
138
130

In [17]:
corresponding_cluster = []
for i in range(n):
    corresponding_cluster.append(kmeans.labels_[i])
data['cluster'] = corresponding_cluster

In [18]:
data.head()

,Unnamed: 0,questionID,AnswerKey,examName,schoolGrade,question,subject,bag_question,cleaned_question,cluster
0,0,AKDE&ED_2008_4_4,C,Alaska Department of Education & Early Develop...,4,Which organism needs to make its own food? (A)...,Biology,"[food, make, needs, organism]",food make need organism,0
1,1,AKDE&ED_2008_4_31,D,Alaska Department of Education & Early Develop...,4,Students planted one hundred flower seeds. The...,Biology,"[could, flower, growth, hundred, observations]",could flower growth hundred observation,0
2,2,AKDE&ED_2012_4_9,C,Alaska Department of Education & Early Develop...,4,Study the data table below. {Alaska-2012-4-10}...,Biology,"[bands, rubber, set, students, test]",band rubber set student test,3
3,3,AKDE&ED_2012_4_24,B,Alaska Department of Education & Early Develop...,4,The chart shows observations of the Moon. {Ala...,Biology,"[chart, moon, observations, shows]",chart moon observation show,0
4,4,CSZ_2009_5_18,A,California Standards Test,5,A balloon has a negative charge. A glass rod h...,Biology,"[attracted, balloon, charge, glass, rod]",attract balloon charge glass rod,0

In [19]:
data['cleaned_question']

0                               food make need organism
1               could flower growth hundred observation
2                          band rubber set student test
3                           chart moon observation show
4                      attract balloon charge glass rod
5                   air atmosphere beach bottom diagram
6             bird characteristic different eat feather
7                 collect description follow rock roger
8                       ago animal evidence form fossil
9                           actual image size toy truck
10            animal belongs classifies different group
11                      container lid place table water
12                        fan image mirror table window
13                  battery bulb circuit light terminal
14                 affected drought least likely little
15                          iron magnetic rock use wand
16                      human make resource student use
17             activity air information quality station
18                 amount aquatic crayfish rusty specie
19                    euglena keep sample student water
20                                     bulb circuit lit
21                        develop fruit plant show stem
22                 carolina humid south streams surface
23                    build container turtle turtle use
24                        atlantic island new show time
25                  close correctly diagram follow four
26                              axle key toy train wind
27                                    cell one organism
28                        food live make ocean organism
29                        cycle gypsy life moth picture
                             ...
2669             bacterium cause common country disease
2670                allow plant reproduce select source
2671                consumer energy feed level organism
2672     able strawberry strawberry survive temperature
2673                      amount body energy food fruit
2674                    change diet energy glucose need
2675       best depth determines freshwater temperature
2676                  area bone dinosaur live scientist
2677               air approximately bricks density kgm
2678                        follow move ms north object
2679    acceleration change change characteristic could
2680                         air ball equal force speed
2681                    cube density displaces gml iron
2682                 core electron group neutron proton
2683               burn magnesium oxide oxygen property
2684            another atom collide crystal frequently
2685                            air iron react ron rust
2686             br bromine common conductivity element
2687                         base cubes student two use
2688                 best billion cluster describe star
2689     appropriate astronomical distance express unit
2690         absorbed chemical electrical energy follow
2691          absorb arrangement change molecule sample
2692                   able best carbon combine element
2693                   rhea rotation saturn state water
2694                         compound element many mgoh
2695                   deplete energy first fossil fuel
2696                     feel people stop sweat thirsty
2697              accord calcium except fluorine follow
2698                   flower insect petal plant pollen
Name: cleaned_question, Length: 2699, dtype: object

In [20]:
data.groupby('cluster').count()

,Unnamed: 0,questionID,AnswerKey,examName,schoolGrade,question,subject,bag_question,cleaned_question
cluster,,,,,,,,,
0,2157,2157,2157,2157,2157,2157,2157,2157,2157
1,147,147,147,147,147,147,147,147,147
2,127,127,127,127,127,127,127,127,127
3,138,138,138,138,138,138,138,138,138
4,130,130,130,130,130,130,130,130,130

In [21]:
for i in range(30):
    print(data['cluster'][i], '\n')
    print(data['question'][i], '\n\n')

0

Which organism needs to make its own food? (A) {Alaska-2008-4-5} (B) {Alaska-2008-4-6} (C) {Alaska-2008-4-7} (D) {Alaska-2008-4-8}


0

Students planted one hundred flower seeds. They observed the growth of their plants once a week. Which tool could be used to record their observations? (A) {Alaska-2008-4-26} (B) {Alaska-2008-4-27} (C) {Alaska-2008-4-28} (D) {Alaska-2008-4-29}


3

Study the data table below. {Alaska-2012-4-10} Two students want to know how temperature affects rubber bands. They decide to test rubber bands inside and outside their school during the winter. The students plan to stretch each rubber band until it breaks. Which set of materials should be used for this test? (A) set 1 (B) set 2 (C) set 3 (D) set 4


0

The chart shows observations of the Moon. {Alaska-2012-4-22} Which drawing shows how the Moon would most likely appear on day 13? (A) {Alaska-2012-4-23} (B) {Alaska-2012-4-24} (C) {Alaska-2012-4-25} (D) {Alaska-2012-4-26}


0

A balloon has a negative charge. A glass rod has a positive charge. {California-2009-5-11} What will happen when the glass rod is brought near the balloon? (A) The balloon will be attracted to the rod. (B) The balloon will be repelled by the rod. (C) The balloon will remain in place. (D) The balloon will spin in circles.


1

The diagram below shows a landscape. {California-2009-5-32} Where in the diagram would the air pressure be the greatest? (A) at the beach (B) on top of the mountain (C) at the bottom of the clouds (D) above Earth’s atmosphere


0

The picture below shows several different birds. {California-2009-5-36} What characteristic do all birds share? (A) They can fly. (B) They have feathers. (C) They have webbed feet. (D) They eat worms.


0

Roger collected four rock samples and wrote a description of how each was formed. Which of the following rocks that Roger collected is a metamorphic rock? (A) {Florida-2008-5-1} (B) {Florida-2008-5-2} (C) {Florida-2008-5-3} (D) {Florida-2008-5-4}


4

Fossils are the evidence of organisms that lived long ago. Which of these animals would most likely form a fossil? (A) {Maryland-2007-5-1} (B) {Maryland-2007-5-2} (C) {Maryland-2007-5-3} (D) {Maryland-2007-5-4}


0

Use the information below to answer the question. {Maryland-2007-5-13} Several students placed a toy truck on a table in front of a plane mirror and viewed the image of the truck in the mirror. Next, the students moved the toy truck to different positions and observed the reflected images of the truck from each position. How does the size of the image of the toy truck compare to the size of the actual toy truck? (A) the image is larger than the actual truck (B) the image is smaller than the actual truck (C) the image is the same size as the actual truck (D) the image size depends on the light behind the toy truck


4

Each of the animals below belongs to a different group. {Maryland-2007-5-30} Which physical feature classifies all four animals into the same group? (A) the type of skin (B) the number of legs (C) the size of the eyes (D) the location of the mouth


0

Use the information below to answer the question. Students placed 250 milliliters of water in three identical containers. Container 1 had a tightly sealed lid and was placed on a classroom counter. Container 2 had no lid and was placed on a classroom table. Container 3 had no lid and was placed on a table outside in the shade. The students measured the amount of water in each container at the end of each day for four days. Their results are shown in the data table below. {Maryland-2008-5-1} Which process changes evaporated water into liquid water? (A) competition (B) condensation (C) erosion (D) precipitation


0

Use the information below to answer the question. Sunlight enters a room through an open window. The sunlight shines on the wood table, area rug on the floor, and the plane mirror and metal spoon on the table. A spot of light appears on the wall opposite the window. {Maryland-2008-5-5} An image of the ceiling fan appears in the plane mirror on the table. How does the image of the fan in the mirror compare to the actual fan on the ceiling? (A) larger (B) smaller (C) reversed (D) upside down


0

Two circuits are shown below. The light bulb of Circuit 1 does not glow. The light bulb of Circuit 2 glows. {Maryland-2009-5-16} Which statement best explains why the light bulb of Circuit 1 does not glow? (A) Circuit 1 is an open circuit. (B) Circuit 1 is a closed circuit. (C) The positive terminal of Circuit 1 is connected to the battery. (D) The negative terminal of Circuit 1 is connected to the battery.


0

Some organisms require little water to live. Which organism is least likely affected by a drought? (A) {Maryland-2009-5-22} (B) {Maryland-2009-5-23} (C) {Maryland-2009-5-24} (D) {Maryland-2009-5-25}


0

Use the information below to answer the question. Some rocks contain small amounts of iron. These rocks have magnetic properties. The iron particles act like tiny magnets that are attracted by the two oppositely charged magnetic poles of Earth. {Maryland-2010-5-6} A student uses a wand with a magnet on the tip and iron filings to complete pictures. A clear sheet of plastic covers a cardboard picture. Iron filings are between the cardboard picture and the sheet of plastic. As the student moves the wand across the sheet of plastic, the iron filings follow the movement of the wand. {Maryland-2010-5-9} Which change in the design of the toy would allow the student to move more iron filings with the wand at one time? (A) Use a wand with a more powerful magnet. (B) Make the iron filings a different color. (C) Make the sheet of plastic larger. (D) Use a longer wand.


3

Use the information and table below to answer the question. A group of students investigated natural resources and the products humans make from these natural resources. The students recorded their findings in the table below. {Maryland-2010-5-10} Humans do not use cows (A) for milk (B) for meat (C) to make paper (D) to make leather


1

Use the information below to answer the question. The maps below show information about the air quality for one day in June, as reported from different air quality stations. {Maryland-2010-5-18} Which of these activities is the most likely source of poor air quality? (A) grazing cattle (B) planting crops (C) burning tires (D) recycling aluminum


0

Use the passage below to answer the question. Rusty Crayfish: A Small Invader Causing Big Problems {Maryland-2011-5-17} The rusty crayfish originated in the Ohio River Basin. This invader species began to spread into the Great Lakes regions. They compete with the native crayfish and also, greatly decrease the amount of vegetation, thereby impacting entire food webs. The rusty crayfish have a large eating capacity when consuming aquatic plants. In addition, they eat aquatic insects. When the rusty crayfish reproduce, they can lay 50–575 eggs at one time. Due to their hyper-appetite, rusty crayfish greatly decrease the amount and diversity of plants in aquatic areas, increase competition with native crayfish, and consume an abnormal amount of other aquatic species. When the rusty crayfish invade, they are disrupting the entire ecosystem. The decreased amount of diversity in vegetation affects the population of many other aquatic species in the surrounding ecosystem. Plant beds provide a habitat for invertebrates as well as shelter for many different species of fish. When vegetation is disturbed, all of the species which rely on it have a harder time surviving. Rusty crayfish displace the native species of crayfish from the aquatic ecosystems it invades. In a study of 150 lakes and streams that had been invaded by the rusty crayfish, seventy-five percent had no native crayfish remaining. The displacement occurs through competition for food. Because the “rusty” is so aggressive, natives get beat out when feeding and soon their population greatly decreases. As aquatic species disappear, disruption of the food web occurs, which affects all the species in an ecosystem. By introducing rusty crayfish to new ecosystems, they have a great potential to crumble. What role does the rusty crayfish have in a food web? (A) consumer (B) decomposer (C) producer (D) scavenger


3

Use the information and data table below to answer the question. A student performed an investigation on green single-celled organisms called Euglena. Two samples of Euglena were placed in two different containers of water taken from the same source. One sample of Euglena was kept in a dark area. The other sample of Euglena was kept in a lighted area. The student recorded the observations in the table below. {Maryland-2011-5-28} What is the primary source of energy used by Euglena in Sample 2? (A) food (B) oxygen (C) sunlight (D) water


0

In which circuit are both bulbs lit? (A) {MCAS-5-2010-8} (B) {MCAS-5-2010-9} (C) {MCAS-5-2010-10} (D) {MCAS-5-2010-11}


0

The drawing below shows a plant during the early development stage in its life cycle. {MCAS-5-2011-6} Under normal conditions, which of the following will occur next as the plant continues to grow? (A) Fruits and roots will develop. (B) Seeds and stems will develop. (C) Stems and leaves will develop. (D) Flowers and fruits will develop.


0

The map below shows the location of South Carolina. {MCAS-5-2013-14} South Carolina is humid during the summer months. Which of the following is the most likely cause of the humid conditions? (A) runoff from inland mountains (B) flooding from rivers and streams (C) groundwater bubbling to the surface (D) evaporation from the surface of the ocean


0

The picture below shows a turtle living in a container. This turtle is kept in a classroom. {MCAS-5-2014-11} The students in the class want to build a new container to hold five more turtles. Which of the following changes is most important to make when they build a new container for all six turtles to live in? (A) use a larger base (B) use a taller frame (C) use thicker glass walls (D) use a stronger screen lid


0

A volcano erupted in the Atlantic Ocean and formed a new island over time. The picture below shows the new island as it was forming. {MCAS-5-2014-14} The new island is mainly made of which type of rock? (A) igneous (B) limestone (C) metamorphic (D) sedimentary


0

Which of the following diagrams correctly shows the four planets closest to the Sun and their moons? (A) {MCAS-5-2015-2} (B) {MCAS-5-2015-3} (C) {MCAS-5-2015-4} (D) {MCAS-5-2015-5}


0

The picture below shows a wind-up toy train. The key on the side of the train is turned to wind up the toy. {MCAS-5-2015-14} The key used to wind up the train is an example of which simple machine? (A) pulley (B) wedge (C) inclined plane (D) wheel and axle


0

Which organism has only one cell? (A) {MEA-5-2010-1} (B) {MEA-5-2010-2} (C) {MEA-5-2010-3} (D) {MEA-5-2010-4}


0

The picture below shows organisms that live in the ocean. {MEA-5-2010-6} Which organism makes its own food? (A) organism A (B) organism B (C) organism C (D) organism D


0

The picture below shows the life cycle of a gypsy moth. {MEAP-5-2005-11} During which stage of its life cycle is the gypsy moth most likely to cause damage to crops? (A) {MEAP-5-2005-12} (B) {MEAP-5-2005-13} (C) {MEAP-5-2005-14} (D) {MEAP-5-2005-15}

## Gathering words for each cluster

In [22]:
cluster = [[],[],[],[],[]]

for i in range(n):
    a = data['cluster'][i]
    for word in data['bag_question'][i]:
        cluster[a].append(word)

In [23]:
cluster_clean_wnl = [[],[],[],[],[]]
wnl = WordNetLemmatizer()
for i in range(0,5):
    wnl_stems = []
    words = cluster[i]
    token_tag = pos_tag(words)
    for pair in token_tag:
        res = wnl.lemmatize(pair[0],pos=get_wordnet_pos(pair[1]))
        wnl_stems.append(res)
    cluster_clean_wnl[i].append(' '.join(wnl_stems))

In [24]:
clust = pd.DataFrame(cluster_clean_wnl)
clust = clust.rename({0 : 'cl'}, axis=1)

In [25]:
from sklearn.feature_extraction.text import CountVectorizer

cl = clust['cl']
vect = CountVectorizer()
vect.fit(cl)
bag = vect.transform(cl)
vect_df = pd.DataFrame(bag.toarray(), columns=vect.get_feature_names())
vect_df.head()

,aa,abandon,ability,able,abnormal,abnormality,absorb,absorbed,absorbs,absorption,...,wrinkle,yard,year,yearly,yearold,yes,young,zinc,zone,zygote
0,2,1,10,17,6,1,24,2,10,9,...,1,1,21,1,2,1,5,2,1,1
1,0,0,0,1,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,2,0,1,0,...,0,0,3,0,0,0,0,0,0,0
3,0,0,1,0,0,0,1,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,2,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
vect_df = vect_df.transpose()

In [27]:
vect_df = vect_df.rename(columns={0: "cluster0", 1: "cluster1", 2: "cluster2", 3: "cluster3", 4: "cluster4"})

In [28]:
vect_df

              cluster0  cluster1  cluster2  cluster3  cluster4
aa                   2         0         0         0         0
abandon              1         0         0         0         0
ability             10         0         1         1         0
able                17         1         0         0         2
abnormal             6         0         0         0         0
abnormality          1         0         0         0         0
absorb              24         2         2         1         2
absorbed             2         0         0         1         0
absorbs             10         0         1         0         0
absorption           9         0         0         0         0
abyssal              2         0         0         0         0
acacia               1         0         0         0         0
accelerate           1         0         0         0         0
acceleration         3         0         0         0         0
accident             1         0         0         1         0
accidentally         0         0         0         1         0
accomplish           1         0         0         0         0
accord              13         1         0         5         1
accurate             4         0         0         0         0
accurately           1         0         0         1         0
acetic               1         0         0         0         0
acid                 8         0         1         0         1
acidic               2         0         0         0         0
acidity              0         0         0         0         1
acorn                2         0         0         0         1
acorns               1         0         0         0         0
acquire              1         0         0         0         0
acquisition          1         0         0         0         0
across               9         1         1         0         0
act                 14         0         0         1         0
...                ...       ...       ...       ...       ...
wilt                 1         0         0         0         0
wind                19         5         0         1         0
window              10         0         0         0         0
windows              1         0         0         0         0
wing                 2         0         0         0         0
winnegance           1         0         0         0         0
winslow              1         0         0         0         0
winter               6         0         0         0         1
wire                10         0         0         3         0
within               1         0         0         0         0
without              2         0         0         0         0
wolf                 4         0         0         0         1
wood                 5         0         0         0         0
wooden               1         0         0         1         0
word                 1         0         0         0         0
work                 4         0         0         0         0
worker               1         0         0         0         0
worm                 1         0         0         1         0
would               13         0         1         0         0
wrap                 1         0         0         0         0
wrinkle              1         0         0         0         0
yard                 1         0         0         0         0
year                21         0         3         1         0
yearly               1         0         0         0         0
yearold              2         0         0         0         0
yes                  1         0         0         0         0
young                5         0         0         0         0
zinc                 2         0         0         0         0
zone                 1         0         0         0         0
zygote               1         0         0         0         0

[2444 rows x 5 columns]

In [29]:
vect_df.nlargest(5, 'cluster0')

         cluster0  cluster1  cluster2  cluster3  cluster4
diagram       176         6        18         1         2
water         167        12         2        11         2
plant         133         4         0         7        12
energy        120        10         5         1         2
best          109         3         3         8         5

In [30]:
vect_df.nlargest(5, 'cluster1')

             cluster0  cluster1  cluster2  cluster3  cluster4
air                 0       147         0         0         1
temperature        34        12         1         4         0
water             167        12         2        11         2
energy            120        10         5         1         2
food               96        10         0         0         8

In [31]:
vect_df.nlargest(5, 'cluster2')

         cluster0  cluster1  cluster2  cluster3  cluster4
earth           1         3       124         1         1
sun            34         1        24         0         0
moon           23         1        22         1         0
around         17         1        20         1         0
diagram       176         6        18         1         2

In [32]:
vect_df.nlargest(5, 'cluster3')

           cluster0  cluster1  cluster2  cluster3  cluster4
student           0         4         1       144         1
table            39         2         0        18         3
answer           75         2         2        12         0
water           167        12         2        11         2
different        40         1         0         9         3

In [33]:
vect_df.nlargest(5, 'cluster4')

        cluster0  cluster1  cluster2  cluster3  cluster4
animal         0         1         0         1       133
plant        133         4         0         7        12
cell          90         0         0         2        11
food          96        10         0         0         8
show         106         4         2         2         6

In [34]:
nb0 = [171,136,133,128,120]
word0 = ['water', 'plant', 'student', 'air', 'animal']
nb1 = [136,23,21,20,16]
word1 = ['energy', 'food', 'chemical', 'electrical', 'form']
nb2 = [120,26,12,8,6]
word2 = ['show', 'diagram', 'picture', 'water', 'animal']
nb3 = [159,18,17,12,12]
word3 = ['diagram', 'earth', 'answer', 'cycle', 'represent']
nb4 = [66, 59, 14, 13, 13]
word4 = ['answer', 'base', 'food', 'chain', 'student']

In [35]:
clust0_freq = [nb0[i]/len(nb0) for i in range(len(nb0))]
clust1_freq = [nb1[i]/len(nb1) for i in range(len(nb1))]
clust2_freq = [nb2[i]/len(nb2) for i in range(len(nb2))]
clust3_freq = [nb3[i]/len(nb3) for i in range(len(nb3))]
clust4_freq = [nb4[i]/len(nb4) for i in range(len(nb4))]
clust0_freq

[34.2, 27.2, 26.6, 25.6, 24.0]

In [36]:
def transf(x):
    #transform the interval [0,1] into [20-120]
    return x*2 + 15

In [37]:
print(clust0_freq,clust1_freq,clust2_freq,clust3_freq,clust4_freq)

[34.2, 27.2, 26.6, 25.6, 24.0] [27.2, 4.6, 4.2, 4.0, 3.2] [24.0, 5.2, 2.4, 1.6, 1.2] [31.8, 3.6, 3.4, 2.4, 2.4] [13.2, 11.8, 2.8, 2.6, 2.6]

In [38]:
clust0_freq_norm = []
clust1_freq_norm = []
clust2_freq_norm = []
clust3_freq_norm = []
clust4_freq_norm = []
for element in clust0_freq:
    clust0_freq_norm.append(transf(element))
for element in clust1_freq:
    clust1_freq_norm.append(transf(element))
for element in clust2_freq:
    clust2_freq_norm.append(transf(element))
for element in clust3_freq:
    clust3_freq_norm.append(transf(element))
for element in clust4_freq:
    clust4_freq_norm.append(transf(element))
clust0_freq_norm

clust0_freq_norm = list(reversed(clust0_freq_norm))
clust1_freq_norm = list(reversed(clust1_freq_norm))
clust2_freq_norm = list(reversed(clust2_freq_norm))
clust3_freq_norm = list(reversed(clust3_freq_norm))
clust4_freq_norm = list(reversed(clust4_freq_norm))
word0 = list(reversed(word0))
word1 = list(reversed(word1))
word2 = list(reversed(word2))
word3 = list(reversed(word3))
word4 = list(reversed(word4))

## Visualization

In [39]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go


trace0 = go.Scatter(
    x=[1, 1, 1, 1, 1],
    y=[1, 2, 3, 4, 5],
    mode='markers+text',
    text=word0,
    name='Life Science',
    textposition='middle center',
    marker=dict(
        size=clust0_freq_norm,
    color=['rgb(255, 144, 14)','rgb(255, 144, 14)','rgb(255, 144, 14)', 'rgb(255, 144, 14)',
               'rgb(255, 144, 14)'],
    
    )
       
)

        
trace1 = go.Scatter(
    x=[1.2, 1.2, 1.2, 1.2, 1.2],
    y=[1, 2, 3, 4, 5],
    mode='markers+text',
    text=word1,
    name='Physics',
    textposition='middle center',
    marker=dict(
        size=clust1_freq_norm,
    color=['rgb(93, 164, 214)','rgb(93, 164, 214)','rgb(93, 164, 214)','rgb(93, 164, 214)','rgb(93, 164, 214)'],
           
    )
)

trace2 = go.Scatter(
    x=[1.4, 1.4, 1.4, 1.4, 1.4],
    y=[1, 2, 3, 4, 5],
    mode='markers+text',
    text=word2,
    name='Visualization',
    textposition='middle center',
    marker=dict(
        size=clust2_freq_norm,
    color=['rgb(144, 255, 14)','rgb(144, 255, 14)','rgb(144, 255, 14)', 'rgb(144, 255, 14)',
               'rgb(144, 255, 14)'],
    
    )
       
)

trace3 = go.Scatter(
    x=[1.6, 1.6, 1.6, 1.6, 1.6],
    y=[1, 2, 3, 4, 5],
    mode='markers+text',
    text=word3,
    name='Earth Science',
    textposition='middle center',
    marker=dict(
        size=clust3_freq_norm,
    color=['rgb(50, 100, 150)','rgb(50, 100, 150)','rgb(50, 100, 150)', 'rgb(50, 100, 150)',
               'rgb(50, 100, 150)'],
    
    )
       
)

trace4 = go.Scatter(
    x=[1.8, 1.8, 1.8, 1.8, 1.8],
    y=[1, 2, 3, 4, 5],
    mode='markers+text',
    text=word4,
    textposition='middle center',
    name='Biased',
    marker=dict(
        size=clust4_freq_norm,
    color=['rgb(200, 150, 0)','rgb(200, 150, 0)','rgb(200, 150, 0)', 'rgb(200, 150, 0)',
               'rgb(200, 150, 0)'],
    
    )
       
)

layout = go.Layout(
    showlegend=False,
    
)


data1 = [trace0,trace1,trace2,trace3,trace4]
py.iplot(data1, filename='bubblechart-size', layout=layout)

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~andyucb/0 or inside your plot.ly account where it is named 'bubblechart-size'

## Observation

It seems that clusters are biased towards words that does not belong to a particular scientific domain such as 'answer', 'show', 'diagram', 'represent'.

Let's try to run the algorythm after removing the more frequent of those words.

## 2nd Visualization without useless words

We first define what words do we want to remove from our clustering and analysis, here they are stored in the list words_not:

In [40]:
words_not = ['science', 'knowledge', 'student', 'form', 'show', 'diagram', 'answer', 'represent', 'table', 'best', 'show', 'find', 'change', 'likely', 'use', 'make', 'small', 'question', 'year', 'information', 'follow', 'student', 'table', 'best', 'different']

In [41]:
data.head()

,Unnamed: 0,questionID,AnswerKey,examName,schoolGrade,question,subject,bag_question,cleaned_question,cluster
0,0,AKDE&ED_2008_4_4,C,Alaska Department of Education & Early Develop...,4,Which organism needs to make its own food? (A)...,Biology,"[food, make, needs, organism]",food make need organism,0
1,1,AKDE&ED_2008_4_31,D,Alaska Department of Education & Early Develop...,4,Students planted one hundred flower seeds. The...,Biology,"[could, flower, growth, hundred, observations]",could flower growth hundred observation,0
2,2,AKDE&ED_2012_4_9,C,Alaska Department of Education & Early Develop...,4,Study the data table below. {Alaska-2012-4-10}...,Biology,"[bands, rubber, set, students, test]",band rubber set student test,3
3,3,AKDE&ED_2012_4_24,B,Alaska Department of Education & Early Develop...,4,The chart shows observations of the Moon. {Ala...,Biology,"[chart, moon, observations, shows]",chart moon observation show,0
4,4,CSZ_2009_5_18,A,California Standards Test,5,A balloon has a negative charge. A glass rod h...,Biology,"[attracted, balloon, charge, glass, rod]",attract balloon charge glass rod,0

In [42]:
n, c = data.shape

In [43]:
final_words = []
for i in range(n):
    words = data['cleaned_question'][i].split()
    words_plus = [w for w in words if w not in words_not]
    final_words.append(words_plus)

In [44]:
final_cleaned = []
for i in range(n) :
    final_cleaned.append(' '.join(final_words[i]))

In [45]:
data['final_cleaned'] = final_cleaned
data.head()

,Unnamed: 0,questionID,AnswerKey,examName,schoolGrade,question,subject,bag_question,cleaned_question,cluster,final_cleaned
0,0,AKDE&ED_2008_4_4,C,Alaska Department of Education & Early Develop...,4,Which organism needs to make its own food? (A)...,Biology,"[food, make, needs, organism]",food make need organism,0,food need organism
1,1,AKDE&ED_2008_4_31,D,Alaska Department of Education & Early Develop...,4,Students planted one hundred flower seeds. The...,Biology,"[could, flower, growth, hundred, observations]",could flower growth hundred observation,0,could flower growth hundred observation
2,2,AKDE&ED_2012_4_9,C,Alaska Department of Education & Early Develop...,4,Study the data table below. {Alaska-2012-4-10}...,Biology,"[bands, rubber, set, students, test]",band rubber set student test,3,band rubber set test
3,3,AKDE&ED_2012_4_24,B,Alaska Department of Education & Early Develop...,4,The chart shows observations of the Moon. {Ala...,Biology,"[chart, moon, observations, shows]",chart moon observation show,0,chart moon observation
4,4,CSZ_2009_5_18,A,California Standards Test,5,A balloon has a negative charge. A glass rod h...,Biology,"[attracted, balloon, charge, glass, rod]",attract balloon charge glass rod,0,attract balloon charge glass rod

In [46]:
from sklearn.feature_extraction.text import CountVectorizer
question0 = data['final_cleaned']
vect0 = CountVectorizer()
vect0.fit(question0)
bag0 = vect0.transform(question0)
vect_df0 = pd.DataFrame(bag0.toarray(), columns=vect0.get_feature_names())
vect_df0.head()

,aa,abandon,ability,able,abnormal,abnormality,absorb,absorbed,absorbs,absorption,...,wrap,wrinkle,yard,yearly,yearold,yes,young,zinc,zone,zygote
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

We run KMean again we this new bag_of_words model:

In [47]:
from sklearn.cluster import KMeans
q, w = vect_df0.shape
vect_question0 = bag0.toarray()
k = 5 # number of clusters
kmeans0 = KMeans(n_clusters=k, init='random')
kmeans0.fit(vect_question0)
#
# Get a list of the questions in each cluster
#
clusters0 = []
for j in range(0,k):
    clusters0.append([])
for i in range(0,n):
    clusters0[kmeans0.labels_[i]].append(i)
#
# Print out clusters
#
for j in range(0,k):
    print(j+1,'\n', clusters0[j], '\n\n')

1
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 18, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 66, 67, 68, 69, 70, 73, 74, 77, 78, 79, 80, 81, 82, 83, 85, 86, 89, 91, 92, 93, 94, 95, 96, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 128, 129, 130, 131, 132, 136, 137, 140, 141, 142, 143, 145, 148, 149, 150, 152, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 168, 169, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 223, 225, 226, 227, 228, 229, 230, 231, 233, 234, 235, 236, 238, 239, 240, 241, 242, 245, 246, 248, 249, 250, 251, 252, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 265, 266, 267, 268, 270, 271, 272, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 294, 295, 296, 297, 298, 299, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 332, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 354, 355, 356, 357, 358, 359, 361, 362, 363, 364, 365, 366, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 390, 391, 392, 393, 394, 397, 398, 399, 400, 401, 402, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 417, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 443, 444, 445, 447, 448, 450, 451, 454, 455, 456, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 474, 475, 476, 479, 482, 483, 485, 487, 488, 490, 491, 492, 493, 494, 495, 496, 497, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 532, 533, 535, 536, 537, 538, 541, 542, 543, 544, 545, 546, 547, 549, 550, 551, 552, 553, 554, 555, 556, 557, 560, 561, 562, 565, 566, 567, 568, 570, 571, 573, 574, 575, 576, 577, 578, 579, 581, 582, 583, 584, 586, 587, 589, 590, 591, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 618, 619, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 634, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 651, 652, 653, 654, 655, 656, 657, 658, 660, 661, 662, 663, 664, 665, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 693, 694, 695, 696, 697, 698, 700, 701, 702, 703, 704, 705, 706, 710, 711, 712, 713, 714, 715, 718, 720, 721, 722, 723, 724, 725, 726, 727, 728, 732, 733, 734, 735, 736, 737, 739, 740, 741, 743, 744, 745, 746, 750, 751, 753, 754, 755, 757, 758, 759, 760, 761, 762, 764, 765, 766, 767, 771, 772, 773, 775, 776, 777, 778, 779, 781, 782, 784, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 823, 824, 825, 826, 827, 828, 830, 831, 832, 834, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 849, 851, 853, 855, 856, 860, 861, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 876, 877, 878, 879, 882, 884, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 900, 901, 903, 904, 905, 906, 907, 908, 909, 911, 912, 913, 915, 916, 919, 920, 921, 922, 923, 924, 925, 926, 927, 930, 931, 932, 933, 936, 939, 940, 941, 945, 946, 949, 950, 951, 952, 953, 954, 956, 957, 958, 960, 961, 962, 963, 964, 965, 966, 967, 969, 970, 971, 972, 973, 974, 975, 976, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 990, 991, 992, 993, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1040, 1042, 1043, 1045, 1046, 1047, 1048, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1095, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1106, 1108, 1109, 1110, 1111, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1170, 1172, 1173, 1175, 1176, 1177, 1178, 1179, 1181, 1182, 1183, 1184, 1186, 1188, 1189, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1199, 1202, 1203, 1204, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1214, 1216, 1218, 1219, 1220, 1221, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1238, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1254, 1255, 1256, 1257, 1258, 1259, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1275, 1276, 1277, 1278, 1281, 1282, 1283, 1284, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1315, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1332, 1333, 1335, 1336, 1337, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1347, 1348, 1349, 1350, 1351, 1354, 1355, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1367, 1368, 1370, 1371, 1372, 1378, 1384, 1386, 1387, 1388, 1389, 1390, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1429, 1430, 1433, 1434, 1436, 1437, 1438, 1439, 1440, 1444, 1445, 1446, 1447, 1448, 1449, 1451, 1452, 1453, 1454, 1455, 1457, 1458, 1459, 1460, 1463, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1478, 1479, 1481, 1482, 1483, 1484, 1485, 1486, 1488, 1489, 1490, 1491, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1503, 1504, 1506, 1507, 1508, 1509, 1511, 1513, 1514, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1525, 1526, 1527, 1529, 1530, 1531, 1533, 1534, 1535, 1537, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1603, 1605, 1607, 1608, 1609, 1610, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1624, 1625, 1626, 1627, 1628, 1629, 1631, 1632, 1633, 1635, 1636, 1637, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1696, 1698, 1699, 1700, 1701, 1702, 1703, 1705, 1706, 1707, 1708, 1709, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1719, 1723, 1727, 1728, 1729, 1730, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1766, 1767, 1768, 1769, 1770, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1820, 1821, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1892, 1893, 1894, 1896, 1897, 1898, 1899, 1900, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1929, 1930, 1931, 1932, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1949, 1950, 1951, 1953, 1954, 1955, 1956, 1959, 1960, 1961, 1962, 1964, 1965, 1966, 1967, 1968, 1971, 1972, 1973, 1974, 1975, 1977, 1978, 1980, 1981, 1982, 1983, 1984, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1996, 1997, 1998, 1999, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2023, 2024, 2025, 2026, 2028, 2030, 2031, 2032, 2033, 2034, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110, 2111, 2112, 2113, 2114, 2117, 2118, 2119, 2120, 2121, 2122, 2123, 2124, 2125, 2126, 2128, 2129, 2130, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2139, 2140, 2141, 2142, 2144, 2145, 2146, 2147, 2148, 2149, 2150, 2151, 2152, 2153, 2154, 2155, 2156, 2157, 2158, 2160, 2161, 2162, 2163, 2164, 2165, 2166, 2167, 2169, 2170, 2171, 2172, 2174, 2175, 2176, 2177, 2179, 2180, 2181, 2182, 2183, 2184, 2185, 2186, 2187, 2188, 2190, 2191, 2192, 2193, 2196, 2197, 2198, 2199, 2201, 2202, 2203, 2204, 2205, 2206, 2207, 2208, 2209, 2210, 2211, 2212, 2214, 2215, 2216, 2217, 2218, 2219, 2220, 2221, 2222, 2223, 2224, 2225, 2226, 2227, 2228, 2229, 2230, 2232, 2233, 2234, 2236, 2238, 2239, 2241, 2242, 2243, 2244, 2245, 2246, 2248, 2249, 2250, 2251, 2252, 2254, 2255, 2258, 2259, 2260, 2261, 2262, 2263, 2264, 2265, 2266, 2267, 2268, 2269, 2270, 2271, 2272, 2273, 2274, 2275, 2276, 2277, 2278, 2279, 2280, 2281, 2282, 2283, 2284, 2286, 2287, 2288, 2289, 2290, 2291, 2292, 2293, 2294, 2296, 2297, 2299, 2300, 2301, 2302, 2303, 2304, 2305, 2306, 2307, 2308, 2309, 2310, 2311, 2313, 2314, 2315, 2317, 2318, 2319, 2320, 2321, 2322, 2323, 2324, 2325, 2326, 2327, 2328, 2329, 2330, 2331, 2332, 2334, 2335, 2336, 2337, 2338, 2339, 2340, 2341, 2342, 2343, 2344, 2345, 2346, 2347, 2348, 2349, 2350, 2351, 2352, 2353, 2354, 2355, 2356, 2361, 2362, 2363, 2365, 2367, 2368, 2371, 2372, 2373, 2374, 2375, 2376, 2377, 2378, 2379, 2380, 2381, 2382, 2383, 2384, 2385, 2386, 2388, 2389, 2390, 2391, 2392, 2393, 2394, 2395, 2397, 2398, 2400, 2401, 2402, 2403, 2405, 2406, 2407, 2408, 2409, 2410, 2412, 2413, 2415, 2417, 2418, 2419, 2420, 2421, 2422, 2423, 2424, 2425, 2426, 2427, 2428, 2429, 2430, 2431, 2432, 2433, 2434, 2435, 2436, 2437, 2438, 2439, 2440, 2441, 2442, 2443, 2444, 2445, 2446, 2447, 2448, 2450, 2451, 2453, 2454, 2455, 2456, 2458, 2459, 2460, 2461, 2462, 2463, 2464, 2465, 2466, 2467, 2468, 2471, 2472, 2473, 2474, 2475, 2476, 2478, 2479, 2480, 2481, 2482, 2483, 2484, 2486, 2487, 2488, 2489, 2490, 2491, 2492, 2493, 2494, 2495, 2496, 2497, 2500, 2501, 2502, 2503, 2504, 2505, 2506, 2507, 2508, 2509, 2512, 2513, 2514, 2515, 2516, 2517, 2518, 2519, 2520, 2521, 2523, 2524, 2525, 2526, 2527, 2528, 2529, 2530, 2533, 2534, 2536, 2538, 2539, 2540, 2541, 2542, 2543, 2544, 2545, 2546, 2547, 2548, 2549, 2550, 2551, 2553, 2554, 2555, 2557, 2558, 2559, 2560, 2561, 2562, 2563, 2564, 2565, 2566, 2567, 2568, 2569, 2570, 2571, 2572, 2573, 2574, 2575, 2577, 2578, 2579, 2580, 2581, 2582, 2584, 2585, 2586, 2587, 2589, 2590, 2591, 2592, 2593, 2594, 2595, 2596, 2597, 2598, 2599, 2600, 2602, 2603, 2604, 2605, 2606, 2607, 2608, 2609, 2610, 2611, 2612, 2614, 2615, 2616, 2617, 2619, 2620, 2621, 2622, 2623, 2624, 2626, 2627, 2628, 2629, 2630, 2632, 2633, 2634, 2635, 2637, 2638, 2639, 2640, 2641, 2643, 2645, 2646, 2647, 2648, 2649, 2650, 2651, 2652, 2653, 2654, 2655, 2656, 2657, 2658, 2659, 2660, 2662, 2663, 2664, 2665, 2666, 2667, 2668, 2669, 2670, 2671, 2672, 2674, 2675, 2676, 2677, 2678, 2679, 2680, 2681, 2682, 2683, 2684, 2685, 2686, 2687, 2688, 2689, 2690, 2691, 2692, 2694, 2695, 2696, 2697, 2698]


2
 [0, 28, 50, 52, 71, 72, 84, 87, 97, 232, 253, 301, 331, 353, 389, 416, 418, 419, 452, 457, 563, 569, 580, 588, 592, 605, 659, 699, 707, 708, 729, 730, 742, 747, 763, 774, 829, 833, 835, 850, 854, 857, 859, 880, 883, 899, 910, 943, 944, 955, 977, 994, 1015, 1038, 1049, 1112, 1123, 1180, 1198, 1205, 1215, 1217, 1222, 1223, 1236, 1237, 1239, 1253, 1274, 1286, 1356, 1381, 1464, 1477, 1480, 1505, 1515, 1528, 1551, 1606, 1622, 1623, 1639, 1641, 1697, 1704, 1718, 1720, 1724, 1725, 1726, 1857, 1880, 1895, 1957, 1958, 1985, 1995, 2075, 2131, 2235, 2295, 2298, 2312, 2316, 2469, 2470, 2510, 2511, 2522, 2552, 2556, 2673]


3
 [16, 17, 170, 184, 449, 498, 534, 633, 748, 749, 756, 780, 928, 929, 934, 1039, 1081, 1107, 1113, 1185, 1187, 1190, 1200, 1280, 1302, 1334, 1375, 1376, 1377, 1380, 1391, 1532, 1536, 1550, 1552, 1576, 1634, 1952, 1963, 1976, 1979, 1986, 2035, 2127, 2168, 2195, 2357, 2358, 2366, 2370, 2387, 2477, 2531, 2532, 2535, 2576, 2583]


4
 [75, 76, 243, 403, 489, 709, 719, 731, 808, 848, 852, 875, 917, 968, 989, 1094, 1105, 1174, 1201, 1260, 1346, 1369, 1373, 1441, 1443, 1450, 1456, 1461, 1462, 1492, 1512, 1602, 1640, 1822, 1927, 1947, 2022, 2029, 2067, 2086, 2116, 2143, 2178, 2194, 2237, 2253, 2257, 2333, 2359, 2457, 2499, 2613, 2625, 2636, 2661]


5
 [11, 19, 36, 64, 65, 88, 90, 127, 133, 134, 135, 138, 139, 144, 146, 147, 151, 153, 154, 167, 199, 211, 222, 224, 237, 244, 247, 264, 269, 273, 274, 275, 276, 293, 300, 317, 333, 352, 360, 367, 395, 396, 442, 446, 453, 473, 477, 478, 480, 481, 484, 486, 531, 539, 540, 548, 558, 559, 564, 572, 585, 617, 620, 621, 635, 650, 666, 678, 679, 680, 681, 692, 716, 717, 738, 752, 768, 769, 770, 783, 785, 822, 858, 862, 881, 885, 902, 914, 918, 935, 937, 938, 942, 947, 948, 959, 988, 1026, 1037, 1041, 1044, 1096, 1169, 1171, 1213, 1279, 1285, 1314, 1316, 1331, 1338, 1352, 1353, 1366, 1374, 1379, 1382, 1383, 1385, 1410, 1428, 1431, 1432, 1435, 1442, 1487, 1510, 1524, 1560, 1587, 1604, 1611, 1612, 1630, 1638, 1695, 1710, 1721, 1722, 1731, 1748, 1764, 1765, 1771, 1789, 1819, 1843, 1891, 1901, 1928, 1933, 1934, 1948, 1969, 1970, 2000, 2027, 2051, 2115, 2159, 2173, 2189, 2200, 2213, 2231, 2240, 2247, 2256, 2285, 2360, 2364, 2369, 2396, 2399, 2404, 2411, 2414, 2416, 2449, 2452, 2485, 2498, 2537, 2588, 2601, 2618, 2631, 2642, 2644, 2693]

In [48]:
corresponding_cluster0 = []
for i in range(n):
    corresponding_cluster0.append(kmeans0.labels_[i])
data['cluster0'] = corresponding_cluster0

In [49]:
data.head()

,Unnamed: 0,questionID,AnswerKey,examName,schoolGrade,question,subject,bag_question,cleaned_question,cluster,final_cleaned,cluster0
0,0,AKDE&ED_2008_4_4,C,Alaska Department of Education & Early Develop...,4,Which organism needs to make its own food? (A)...,Biology,"[food, make, needs, organism]",food make need organism,0,food need organism,1
1,1,AKDE&ED_2008_4_31,D,Alaska Department of Education & Early Develop...,4,Students planted one hundred flower seeds. The...,Biology,"[could, flower, growth, hundred, observations]",could flower growth hundred observation,0,could flower growth hundred observation,0
2,2,AKDE&ED_2012_4_9,C,Alaska Department of Education & Early Develop...,4,Study the data table below. {Alaska-2012-4-10}...,Biology,"[bands, rubber, set, students, test]",band rubber set student test,3,band rubber set test,0
3,3,AKDE&ED_2012_4_24,B,Alaska Department of Education & Early Develop...,4,The chart shows observations of the Moon. {Ala...,Biology,"[chart, moon, observations, shows]",chart moon observation show,0,chart moon observation,0
4,4,CSZ_2009_5_18,A,California Standards Test,5,A balloon has a negative charge. A glass rod h...,Biology,"[attracted, balloon, charge, glass, rod]",attract balloon charge glass rod,0,attract balloon charge glass rod,0

In [50]:
data.groupby('cluster0').count()

,Unnamed: 0,questionID,AnswerKey,examName,schoolGrade,question,subject,bag_question,cleaned_question,cluster,final_cleaned
cluster0,,,,,,,,,,,
0,2284,2284,2284,2284,2284,2284,2284,2284,2284,2284,2284
1,113,113,113,113,113,113,113,113,113,113,113
2,57,57,57,57,57,57,57,57,57,57,57
3,55,55,55,55,55,55,55,55,55,55,55
4,190,190,190,190,190,190,190,190,190,190,190

In [51]:
cluster0 = [[],[],[],[],[]]
cluster0_fv = [[],[],[],[],[]]

for i in range(n):
    a = data['cluster0'][i]
    for word in data['final_cleaned'][i].split():
        cluster0[a].append(word) 

for i in range(len(cluster0)):
    cluster0_fv[i].append(' '.join(cluster0[i]))

In [52]:
clust0 = pd.DataFrame(cluster0_fv)
clust0 = clust0.rename({0 : 'cl'}, axis=1)
clust0

                                                  cl
0  could flower growth hundred observation band r...
1  food need organism food live ocean organism be...
2  human resource activity air quality station na...
3  amount away increase threw time accord decreas...
4  container lid place water euglena keep sample ...

In [53]:
from sklearn.feature_extraction.text import CountVectorizer

cl = clust0['cl']
vect = CountVectorizer()
vect.fit(cl)
bag = vect.transform(cl)
vect_df_final = pd.DataFrame(bag.toarray(), columns=vect.get_feature_names())
vect_df_final.head()

,aa,abandon,ability,able,abnormal,abnormality,absorb,absorbed,absorbs,absorption,...,wrap,wrinkle,yard,yearly,yearold,yes,young,zinc,zone,zygote
0,2,1,10,19,6,1,18,6,10,8,...,0,1,1,1,2,0,4,2,1,1
1,0,0,0,0,0,0,4,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,1,0,0,3,0,4,0,...,1,0,0,0,0,1,1,0,0,0

In [54]:
vect_df_final = vect_df_final.transpose()
vect_df_final = vect_df_final.rename(columns={0: "cluster0", 1: "cluster1", 2: "cluster2", 3: "cluster3", 4: "cluster4"})
vect_df_final

              cluster0  cluster1  cluster2  cluster3  cluster4
aa                   2         0         0         0         0
abandon              1         0         0         0         0
ability             10         0         0         1         1
able                19         0         0         0         1
abnormal             6         0         0         0         0
abnormality          1         0         0         0         0
absorb              18         4         0         0         3
absorbed             6         0         0         0         0
absorbs             10         0         0         0         4
absorption           8         1         0         0         0
abyssal              2         0         0         0         0
acacia               1         0         0         0         0
accelerate           1         0         0         0         0
acceleration         2         0         0         1         0
accident             2         0         0         0         0
accidentally         1         0         0         0         0
accomplish           1         0         0         0         0
accord              18         1         0         1         0
accurate             4         0         0         0         0
accurately           2         0         0         0         0
acetic               1         0         0         0         0
acid                 9         1         0         0         0
acidic               2         0         0         0         0
acidity              1         0         0         0         0
acorn                4         0         0         0         0
acquire              1         0         0         0         0
acquisition          0         0         1         0         0
across              10         0         0         1         0
act                 13         1         0         0         1
action               7         0         0         0         1
...                ...       ...       ...       ...       ...
whole                2         0         0         0         0
wildebeest           1         0         0         0         0
wilt                 0         0         0         0         1
wind                25         0         0         0         0
window               9         0         0         0         2
wing                 1         0         0         1         0
winnegance           1         0         0         0         0
winslow              1         0         0         0         0
winter               7         0         0         0         0
wire                13         0         0         0         0
within               0         0         1         0         0
without              1         0         0         0         1
wolf                 4         1         0         0         0
wood                 5         0         0         0         0
wooden               2         0         0         0         0
word                 1         0         0         0         0
work                 4         0         0         0         0
worker               1         0         0         0         0
worm                 2         0         0         0         0
would               12         0         0         1         1
wrap                 0         0         0         0         1
wrinkle              1         0         0         0         0
yard                 1         0         0         0         0
yearly               1         0         0         0         0
yearold              2         0         0         0         0
yes                  0         0         0         0         1
young                4         0         0         0         1
zinc                 2         0         0         0         0
zone                 1         0         0         0         0
zygote               1         0         0         0         0

[2410 rows x 5 columns]

In [55]:
vect_df_final.nlargest(5, 'cluster0')

        cluster0  cluster1  cluster2  cluster3  cluster4
plant        135        10         1         0         9
earth        130         0         3         3         2
air          122         9         4         1        12
animal       118         9         3         3         2
energy       107        24         1         3         3

In [56]:
n0 = [11,11,12,13,194]
nm0 = ['ocean', 'light', 'air', 'temperature', 'water']

In [57]:
vect_df_final.nlargest(5, 'cluster1')

        cluster0  cluster1  cluster2  cluster3  cluster4
food           0       113         0         0         1
chain          5        25         0         3         0
energy       107        24         1         3         3
base          48        11         0         3         1
plant        135        10         1         0         9

In [58]:
n1 = [4,4,10,12,13]
nm1 = ['fertilization', 'cycle', 'descibes', 'development', 'stage']

In [59]:
vect_df_final.nlargest(5, 'cluster2')

              cluster0  cluster1  cluster2  cluster3  cluster4
activity             0         0        36         1         1
resource             0         0        22         0         0
natural              4         0        12         0         0
air                122         9         4         1        12
nonrenewable         3         0         4         0         0

In [60]:
n2 = [16,20,22,24,136]
nm2 = ['day', 'around', 'moon', 'sun', 'earth']

In [61]:
vect_df_final.nlargest(5, 'cluster3')

             cluster0  cluster1  cluster2  cluster3  cluster4
decrease            0         2         1        42         4
increase            0         1         3        35         5
population          8         5         0         6         2
temperature        36         0         0         6        11
force              38         0         0         4         0

In [62]:
n3 = [55,97,120,121,132]
nm3 = ['cause', 'cell', 'air', 'animal', 'plant']

In [63]:
vect_df_final.nlargest(5, 'cluster4')

       cluster0  cluster1  cluster2  cluster3  cluster4
water         0         1         0         2       191
air         122         9         4         1        12
light        57         0         0         1        11
ocean        23         2         0         0        11
salt          7         0         1         0        11

In [64]:
n4 = [20,21,25,112,130]
nm4 = ['electrical', 'chemical', 'chain', 'food', 'energy']

In [65]:
clust0_freq0 = [n0[i]/sum(n0) for i in range(len(n0))]
clust1_freq0 = [n1[i]/sum(n1) for i in range(len(n1))]
clust2_freq0 = [n2[i]/sum(n2) for i in range(len(n2))]
clust3_freq0 = [n3[i]/sum(n3) for i in range(len(n3))]
clust4_freq0 = [n4[i]/sum(n4) for i in range(len(n4))]
clust0_freq0

[0.04564315352697095,
 0.04564315352697095,
 0.04979253112033195,
 0.05394190871369295,
 0.8049792531120332]

In [66]:
def transf1(x):
    return 40 + 70*x

In [67]:
clust0_freq_norm0 = []
clust1_freq_norm0 = []
clust2_freq_norm0 = []
clust3_freq_norm0 = []
clust4_freq_norm0 = []
for element in clust0_freq0:
    clust0_freq_norm0.append(transf1(element))
for element in clust1_freq0:
    clust1_freq_norm0.append(transf1(element))
for element in clust2_freq0:
    clust2_freq_norm0.append(transf1(element))
for element in clust3_freq0:
    clust3_freq_norm0.append(transf1(element))
for element in clust4_freq0:
    clust4_freq_norm0.append(transf1(element))
clust0_freq_norm0

[43.19502074688797,
 43.19502074688797,
 43.48547717842324,
 43.77593360995851,
 96.34854771784232]

In [68]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go


trace0 = go.Scatter(
    x=[1, 1, 1, 1, 1],
    y=[1, 2, 3, 4, 5],
    mode='markers+text',
    text=nm0,
    name='Earth Science',
    textposition='middle center',
    marker=dict(
        size=clust0_freq_norm0,
    color=['rgb(255, 144, 14)','rgb(255, 144, 14)','rgb(255, 144, 14)', 'rgb(255, 144, 14)',
               'rgb(255, 144, 14)'],
    
    )
       
)

        
trace1 = go.Scatter(
    x=[1.2, 1.2, 1.2, 1.2, 1.2],
    y=[1, 2, 3, 4, 5],
    mode='markers+text',
    text=nm1,
    name='Life Science',
    textposition='middle center',
    marker=dict(
        size=clust1_freq_norm0,
    color=['rgb(93, 164, 214)','rgb(93, 164, 214)','rgb(93, 164, 214)','rgb(93, 164, 214)','rgb(93, 164, 214)'],
           
    )
)

trace2 = go.Scatter(
    x=[1.4, 1.4, 1.4, 1.4, 1.4],
    y=[1, 2, 3, 4, 5],
    mode='markers+text',
    text=nm2,
    name='Astronomy',
    textposition='middle center',
    marker=dict(
        size=clust2_freq_norm0,
    color=['rgb(144, 255, 14)','rgb(144, 255, 14)','rgb(144, 255, 14)', 'rgb(144, 255, 14)',
               'rgb(144, 255, 14)'],
    
    )
       
)

trace3 = go.Scatter(
    x=[1.6, 1.6, 1.6, 1.6, 1.6],
    y=[1, 2, 3, 4, 5],
    mode='markers+text',
    text=nm3,
    name='Biology',
    textposition='middle center',
    marker=dict(
        size=clust3_freq_norm0,
    color=['rgb(50, 100, 150)','rgb(50, 100, 150)','rgb(50, 100, 150)', 'rgb(50, 100, 150)',
               'rgb(50, 100, 150)'],
    
    )
       
)

trace4 = go.Scatter(
    x=[1.8, 1.8, 1.8, 1.8, 1.8],
    y=[1, 2, 3, 4, 5],
    mode='markers+text',
    text=nm4,
    textposition='middle center',
    name='Physics',
    marker=dict(
        size=clust4_freq_norm0,
    color=['rgb(200, 150, 0)','rgb(200, 150, 0)','rgb(200, 150, 0)', 'rgb(200, 150, 0)',
               'rgb(200, 150, 0)'],
    
    )
       
)

layout = go.Layout(
    showlegend=False,
    
)


data1 = [trace0,trace1,trace2,trace3,trace4]
py.iplot(data1, filename='bubblechart-size', layout=layout)

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~andyucb/0 or inside your plot.ly account where it is named 'bubblechart-size'